<!doctype html>
<html lang="en">
<html>
	<head>
		<title>Sea Surface Temperature</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 400px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-device-width: 400px)' href="../static/css/tiny.css?ref=v1" />
    <link rel="stylesheet" type="text/css" href="../static/css/mi.css?ref=v1" />
                <link rel="icon" href="../static/favicon.ico">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="../static/js/script.js"></script>

	</head>

	<body>
	
  		<script language="javascript" type="text/javascript">

                   let layout = {
                       width: 670,
                       height: 653,
                       showlegend: false,
                       title: {
                           text: '',
                           font: {
                               size: 16,
                           },
                       },
                       margin: {
                           t: 30, 
                       },
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickvals: [-25, -20, -15, -10, -5],
                           ticktext: ['25ºW', '20ºW', '15ºW', '10ºW', '5ºW'],
                           automargin: true,
                           range: [-25, -5],
                       },
                       yaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickvals: [46, 50, 54, 58],
                           ticktext: ['46ºN', '50ºN', '54ºN', '58ºN'],
                           range: [46, 58],
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 16,            
                       },
                   };

                </script>
	
         <div class="grid">
 	     <div class="col-1-1">
 		<div class="content">
                    <form method="POST" action="/anm">
                    <label id="start-label" for="start" style="font-family:SofiaProLight;">You can select a different date here</label>
                    <input type="date" id="start" name="select-date" 
                           value={{ini}}
                           min={{timelist | first}}
                           max={{timelist | last}}>
                    <input id="submit-historical" type="submit" value="Submit" name="submit-sst-request"/>
                    &emsp; <label id="start-label" for="start" style="font-family:SofiaProLight;">It takes a few seconds to load</label>
		    </form>
    	        </div>
    	     </div>
    	 </div>

  		<div class="grid">
      		    <div class="col-1-1">
      			<div class="content">
          		     <div class="Series" id="ANM"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{ANM | safe}};
                                     TESTER = document.getElementById('ANM')
                                     Plotly.newPlot(TESTER, graphs, {})
                                     Plotly.relayout(TESTER, layout)

                                 </script>

                        </div>
                    </div>
               </div>
    </body>
</html>
