<!DOCTYPE html>
<html lang="en">
<head>
    <title>Observatorio Eurosea - El Campello</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/marineObservatoryHeader.css" />
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/tiny-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 1px) and (max-device-width: 320px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
</head>
<body>
        <div class="grid">
            <div class="col-1-1">
                <div class="content">
                    <h1 class="MarineObservatory"> MARINE OBSERVATORY FOR AQUACULTURE </h1> <hr> </div> </div>
        </div>

    <div class="grid">
 	<div class="col-1-4">
        	<div class="content">
                   <div class="Campello"></div>
 		</div>
 	</div>
 	<div class="col-1-4">
 		<div class="content">
                   <div class="links">
                      <form method="POST" action="/">
                         <h3 style="text-align: center"> 
                            El Campello 
                         </h3>
                         <input class="button" type="submit" value="Warnings & Forecasts" 
                            name="Campello-Operational" />
                         <input class="button" type="submit" value="Historical Data" 
                            name="Campello-Historical" />
                         <input class="button" type="submit" value="Regional Wave Forecast"
                            name="Campello-Waves" id="Balearic-Wave-Forecast" /> 
                       </form>
                    </div>
 		</div>
	</div>
    		
    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
				   <br><br>
       <p align="justify"> 
          <b> Acknowledgements. </b> 
	  This work benefited from services and resources provided by
	  the EuroSea project (receiving funding from the European 
	  Union's Horizon 2020 research and innovation programme 
	  <b> under grant agreement No. 862626</b>), with the 
	  dedicated support of WALTON-CLOUD. 
       </p>
                            </div> 
                           <div class="footer">
       <p align="justify"> 
           DISCLAIMER. 
The user assumes the entire risk related to use of information contained in the Irish EuroSea Ocean Observation and Forecasting System. The data is provided "as is," and disclaims any and all warranties, whether expressed or implied, including (without limitation) any implied warranties of merchantability or fitness for a particular purpose.
       </p>
                            </div> 
    			</div>
    		</div>
    	</div>

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        

</body>
</html>
