<!doctype html>
<html lang="en">
<html>
	<head>
		<title>Chlorophyll Concentration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 400px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-device-width: 400px)' href="../static/css/tiny.css?ref=v1" />
                <link rel="icon" href="../static/favicon.png">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="../static/js/script.js"></script>

	</head>

	<body>

	 <script language="javascript" type="text/javascript">
                   let layout = {
                       width: 420.1,
                       height: 523.3,
                       showlegend: false,
                       title: {
                           text: '',
                           font: {
                               size: 16,
                           },
                       },
                       margin: {
                           t: 30, 
                       },
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickvals: [-11, -8, -5],
                           ticktext: ['11ºW', '08ºW', '05ºW'],
                           automargin: true,
                           range: [-11.6, -4.4],
                       },
                       yaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickvals: [50, 51, 52, 53, 54, 55],
                           ticktext: ['50ºN', '51ºN', '52ºN', '53ºN', '54ºN', '55ºN'],
                           range: [50, 55.6],
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 16,            
                       },
                   };
	 </script>

  		<div class="grid">
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="CHL"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{CHL | safe}};
                                     TESTER = document.getElementById('CHL')
                                     Plotly.newPlot(TESTER, graphs, {})
                                     Plotly.relayout(TESTER, layout)

                                 </script>

                        </div>
                    </div>

      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="CHLANM"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{CHLANM | safe}};
                                     TESTER = document.getElementById('CHLANM')
                                     Plotly.newPlot(TESTER, graphs, {})
                                     Plotly.relayout(TESTER, layout)

                                 </script>

                        </div>
                    </div>
               </div>
    </body>
</html>
