<!doctype html>
<html lang="es">
<html>
	<head>
		<title>El Campello Datos Históricos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <style type="text/css">

        img {
            max-width: 100%;
            max-height: 100%;
        }

        .landscape {
            height: 75px;
            width: 200px;
        }

           h2 {
               display: flex;
               width: 100%;
               justify-content: center;
               align-items: center;
               text-align: center;
           }

           h2:before,
           h2:after {
               content: '';
               border-top: 2px solid;
               margin: 0 20px 0 0;
               flex: 1 0 20px;
           }

           h2:after {
               margin: 0 0 0 20px;
           }

           h2 {
               margin: 30px 0;
               font: 700 2em/1.4 'Avenir', sans-serif;
           }

    </style>

	</head>

	<body>
	
    	<div class="grid">
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" > </a> </p> </div> </div> </div>			
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" > </a> </p> </div> </div> </div>			
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-8">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://www.xylem.com"> <img src="../static/xylem-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-9">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://avramar.eu"> <img src="../static/AVRAMAR-logo.png" > </a> </p> </div> </div> </div>			
    	</div>
	
	
		<div class="grid">
 			<div class="col-10-12">
 				<div class="content">
     				<p id="funding">
           Este proyecto ha sido financiado por el programa de investigación
           e innovación Horizonte 2020 de la UE bajo acuerdo de
           financiación No. 862626.
                                </p>
 				</div>
 			</div>
 			<div class="col-2-12">
 				<div class="content">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png"></a>
 				</div>
 			</div>
    	        </div>
    		
         <div class="grid">
 	     <div class="col-1-1">
 		<div class="content">
                           <div class="footer">
       <p align="justify" style="font-family:Calibri;"> 
          Este portal permite conocer cuáles eran las condiciones del mar en El Campello en 
          cualquier fecha desde que la boya comenzó a trasmitir datos hasta la actualidad.
          <b>INSTRUCCIONES:</b> Seleccione el periodo de interés, entre una fecha inicial y 
          una fecha final.
       </p>
                            </div> 
    	        </div>
    	     </div>
    	 </div>

         <div class="grid">
 	     <div class="col-1-1">
 		<div class="content">
                    <form method="POST" action="/es/El-Campello-in-situ-historical">
                    <label style="font-family:Calibri;" for="start">Fecha inicial</label>
                    <input type="date" id="start" name="start-date" 
                           value={{date1}}
                           min={{timelist | first}}
                           max={{timelist | last}}>
                    &emsp;
                    <label style="font-family:Calibri;" for="start" style="margin-left:25px;">Fecha final</label>
                    <input type="date" id="end" name="end-date"
                           value={{date2}}
                           min={{timelist | first}}
                           max={{timelist | last}}>
                    <input type="submit" value="Obtener datos históricos" name="submit" style="margin-left: 25px" />
    	        </div>
    	     </div>
    	 </div>
                          
{% if csv == 'true' %}

         <!-------------------------------------------------------------------------->
         <!--                                                                      -->
         <!--                       HYPERLINKS TO SECTIONS                         -->
         <!--                                                                      -->
         <!-------------------------------------------------------------------------->

    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   Use estos enlaces para acceder rápidamente a las distintas secciones en la página:
                                   
                               </p>
                            </div> 
                         </div>
                   </div>
           </div>

         <div class="grid">
             <div class="col-1-4">
                 <div class="content">
                     <a href="#Waves Header"> Oleaje </a> </div> </div>
             <div class="col-1-4">
                 <div class="content">
                     <a href="#Currents Header"> Corrientes </a> </div> </div>
             <div class="col-1-4">
                 <div class="content">
                     <a href="#Winds Header"> Viento </a> </div> </div>
             <div class="col-1-4">
                 <div class="content">
                     <a href="#Water Quality Header"> Agua </a> </div> </div>
         </div>
    		

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                             WAVES SECTION                            -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Waves Header"> Oleaje </h2>
                        </div>
                    </div>
                </div>

  		<script language="javascript" type="text/javascript">

                <!-- Configuration of Mode Bar and Image download -->
                    
                 var config = {
                     'toImageButtonOptions': {
                         'format': 'png',    // Download figure as PNG
                         'scale': 10,        // High resolution figure, suitable for journal publications
                     },
                     // Remove the buttons in the list below, as they are not needed
                     modeBarButtonsToRemove: ['zoom2d', 'pan2d', 'select2d', 'zoomIn2d', 'zoomOut2d', 'hoverClosestCartesian',
                         'hoverCompareCartesian', 'autoScale2d', 'resetScale2d', 'toggleSpikelines', 'toImage'],
                 };

                    <!-- Wave height series layout -->

                    var layout_waves = {
                       texttemplate: '%{value:.1f}',
                       title: 'Altura significante de ola en El Campello',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: 'm',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.2f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                    <!-- Time series layout -->
                    var wind_layout = {
                       texttemplate: '%{value:.1f}',
                       title: '',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tick0: "{{tick0}}",
                           dtick: 86400000,  
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: '',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       coloraxis: {
                           colorscale: 'Bluered',
                           showscale: true,
                           cmin:  0,
                           cmax: 25,
                       },
                       };


                    <!-- Time series layout -->
                    var layout1 = {
                       texttemplate: '%{value:.1f}',
                       title: '',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: '',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                    <!-- Turbidity (log-y) series layout -->
                    var layout2 = {
                       texttemplate: '%{value:.1f}',
                       title: 'Turbidez del agua en El Campello',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: 'FNU',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                           type: 'log',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                </script>

  		<script language="javascript" type="text/javascript">

                    <!-- Wind Rose layout -->

                    var polarLayout = {
                    };

                </script>
    		
  		<script language="javascript" type="text/javascript">

                    <!-- DCPS heatmap layout -->

                    var DCPSLayout = {
                       title: 'Perfil de velocidad de corrientes en El Campello',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           autorange: true,
                       },
                       yaxis: {
                           autorange: 'reversed',
                           title: 'profundidad (m)',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                </script>

                <script language="javascript" type="text/javascript">
/*
                    <!-- Produce green shading in wave height series --> 

                    var shapes = [];  

                        {% for safe0,safe1 in waves %}
                            var safety = {
	                                  type: 'rect',
	                                  xref: 'x',
	                                  yref: 'paper',
	                                  x0: '{{safe0|safe}}',
	                                  y0: 0,
	                                  x1: '{{safe1|safe}}',
	                                  y1: 1,
	                                  fillcolor: '#90EE90',
	                                  opacity: 0.3,
	                                  line: {
	                                         width: 0,
	                                        }, 
                                          };
                                          shapes.push(safety)
                        {% endfor %}
*/
                </script>   

                <script language="javascript" type="text/javascript">

                    <!-- Draw red (safety for work) line in wave height series --> 

                    var shapes = [];

                    orangeWarning =  {
                                   type: 'line',
                                   xref: 'paper',
                                   x0: 0,
                                   y0: 2.0,
                                   x1: 1,
                                   y1: 2.0,
                                   line:{
                                         color: '#FFA500',
                                         width: 4,
                                         dash:'dot',
                                        },
                                   };

                    shapes.push(orangeWarning);

                    redWarning =  {
                                   type: 'line',
                                   xref: 'paper',
                                   x0: 0,
                                   y0: 3.0,
                                   x1: 1,
                                   y1: 3.0,
                                   line:{
                                         color: '#FF0000',
                                         width: 4,
                                         dash:'dot',
                                        },
                                   };

                    shapes.push(redWarning);

                </script>

    	       <div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   Aquí se muestra la altura significante de ola en El Campello (38.43ºN 0.30ºW) desde 
                                   {{date1}} hasta {{date2}}, en base a las medidas del Sensor de Onda Direccional MOTUS de Aanderaa.
                                   Además, se ofrece una estimación de la altura de ola debida al mar de fondo. 
                               </p>
                            </div> 
                         </div>
                   </div>

  		<div class="grid">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="Hs"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time | safe }},
                                        y: {{ Significant_Wave_Height_Hm0 | safe }},
                                        name: 'Total',
                                        hoverinfo: 'x+y',
                                        line: {
                                            color: '#1F77B4', 
                                        }
                                    };
                                    var trace4 = {
                                        x: {{ time | safe }},
                                        y: {{ Wave_Height_Swell_Hm0 |safe }},
                                        name: 'Mar de fondo',
                                        hoverinfo: 'x+y',
                                        line: {
                                            color: '#2CA02C', 
                                        }
                                    };

                                    layout_waves['shapes'] = shapes
                                    TESTER = document.getElementById('Hs');
                                    Plotly.newPlot( TESTER, [trace1, trace4], layout_waves, config);

                                </script>
      			</div>
                     </div>
      	        </div>

                <!-- DOWNLOAD DATA AS CSV (SIGNIFICANT WAVE HEIGHT) -->
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="SWH" />
 			    </div>
 			</div>
    	        </div>


    	<div class="grid">
      		    <div class="col-1-4"><div class="content"> </div> </div>
    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   Este diagrama muestra la dirección y periodo del oleaje predominantes en
                                   El Campello entre {{date1}} y {{date2}}. 
                                   <br><br><b> NOTA</b>: la dirección del oleaje se refiere a la
                                   dirección de <b>PROCEDENCIA</b> de las olas.
                               </p>
                            </div> 
                         </div>
                   </div>

      		    <div class="col-1-4"><div class="content"> </div> </div>
           </div>
    		
		    		
  		<div class="grid">
      		    <div class="col-1-4"><div class="content"> </div> </div>
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="WaveRose"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{wave_rose_fig | safe}};
                                     TESTER = document.getElementById('WaveRose')
                                     var polarLayout = {
                                         title: {
                                             text:'Dirección (PROCEDENCIA) y Periodo Pico de Ola: {{idate_wave_rose}} a {{edate_wave_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {})
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>
      		    <div class="col-1-4"><div class="content"> </div> </div>

                </div>

                <!-- DOWNLOAD DATA AS CSV (WAVE ROSE) -->
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="wave" />
 			    </div>
 			</div>
    	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                           CURRENTS SECTION                           -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Currents Header"> Corrientes </h2>
                        </div>
                    </div>
                </div>
    
    	       <div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                  La estación de monitorización en El Campello (38.43ºN 0.30ºW) cuenta con un
                                  ADCP que proporciona medidas de la dirección y velocidad de la corriente en
                                  la columna de agua, desde la superficie hasta el fondo. Esta figura muestra
                                  el perfil vertical de velocidad de la corriente desde {{date1}} hasta {{date2}}.
                               </p>
                            </div> 
                         </div>
                   </div>


      	        <div class="grid">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="DCP"></div>
                                 <script language="javascript" type="text/javascript">


                                     var data =  [
                                         {
                                             z: {{ DCP_speed | safe }},
                                             x: {{ time | safe }},
                                             y: {{ DCPS | safe }},
                                             type: 'heatmap',
                                             colorscale: 'Portland',
                                             zmin: 0, zmax: 50,
                                             reversescale: false, 
                                             colorbar: {
                                                 title: 'cm/s',
                                             },
                                         },
                                     ];
                                     TESTER = document.getElementById('DCP');
                                     Plotly.newPlot( TESTER, data, DCPSLayout );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

                <!-- DOWNLOAD DATA AS CSV (ADCP) -->

		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="ADCP" />
 			    </div>
 			</div>
    	        </div>

    	<div class="grid">
    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   Este diagrama representa la dirección y velocidad predominantes de la corriente en 
                                   superficie entre {{date1}} y {{date2}} en El Campello. 
                                   <br><br> <b> NOTA </b>:
                                   la dirección de la corriente se refiere a la dirección <b> HACIA </b> la que viajan las corrientes.
                                   
                               </p>
                            </div> 
                         </div>
                   </div>

    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   Este diagrama representa la dirección y velocidad predominantes de la corriente a 
                                   15 metros de profundidad entre {{date1}} y {{date2}} en El Campello. 
                                   <br><br> <b> NOTA </b>:
                                   la dirección de la corriente se refiere a la dirección <b> HACIA </b> la que viajan las corrientes.
                                   
                               </p>
                            </div> 
                         </div>
                   </div>
           </div>



  		<div class="grid">
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="SurfaceCurrentRose"></div>

                                 <script language="javascript" type="text/javascript">
                                     var graphs = {{surf_rose_fig | safe}};
                                     TESTER = document.getElementById('SurfaceCurrentRose')
                                     var polarLayout = {
                                         title: {
                                             text:'Velocidad y Dirección de la Corriente (superficie): {{idate_surf_rose}} a {{edate_surf_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {});
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>

      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="SeabedCurrentRose"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{seab_rose_fig | safe }};
                                     TESTER = document.getElementById('SeabedCurrentRose')
                                     var polarLayout = {
                                         title: {
                                             text:'Velocidad y Dirección de la Corriente a 15 metros: {{idate_seab_rose}} a {{edate_seab_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {});
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>
                </div>

                <!-- DOWNLOAD DATA AS CSV (CURRENTS SPEED AND DIRECTION) -->

		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="currents" />
 			    </div>
 			</div>
    	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                             WINDS SECTION                            -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <!-- Header -->
                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Winds Header"> Viento </h2>
                        </div>
                    </div>
                </div>

                <!-- ADD A DESCRIPTION OF THE WINDS SECTION -->

    	        <div class="grid">
      		    <div class="col-1-4"><div class="content"> </div> </div>
    	       	    <div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   Este diagrama representa la dirección y velocidad predominantes del viento en El Campello
                                   entre {{date1}} y {{date2}}. 
                          <br><br><b> NOTA</b>: la dirección del viento se refiere a la dirección de <b> PROCEDENCIA </b> del viento.  
                               </p>
                            </div> 
                         </div>
                   </div>
      		    <div class="col-1-4"><div class="content"> </div> </div>
                </div>


  		<div class="grid">
      		    <div class="col-1-4"><div class="content"> </div> </div>
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="WindRose"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{wind_rose_fig | safe}};
                                     TESTER = document.getElementById('WindRose')

                                     var polarLayout = {
                                         title: {
                                             text:'Dirección (PROCEDENCIA) y velocidad del viento: {{idate_wind_rose}} a {{edate_wave_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {}, config);
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                             </div>
                         </div>

      		    <div class="col-1-4"><div class="content"> </div> </div>
                </div>

                <!-- DOWNLOAD DATA AS CSV (WIND) -->
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="wind" />
 			    </div>
 			</div>
    	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                          WATER QUALITY                               -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Water Quality Header"> Agua </h2>
                        </div>
                    </div>
                </div>


                <!-- ADD A DESCRIPTION OF THE WATER QUALITY SECTION -->

    	        <div class="grid">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   <b> Temperatura del mar en El Campello. </b> Se muestra la 
                                   evolución de la temperatura del mar en El Campello desde {{date1}} hasta {{date2}}. 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

  		
  		<div class="grid">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="temp"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time|safe }},
                                        y: {{ Temperature|safe }},
                                        name: 'medidas',
                                        hoverinfo: 'x+y',
                                    }
/*                                   
                                    var trace3 = {
                                        x: {{ time_c|safe }},
                                        y: {{ seas|safe }},
                                        name: 'climatología',
                                        line: {
                                            width: .5,
                                        },
                                        hoverinfo: 'x',
                                    };
                                    var trace4 = {
                                        x: {{ time_c|safe }},
                                        y: {{ pc90|safe }},
                                        name: 'P90',
                                        line: {
                                            width: .5,
                                        },
                                        hoverinfo: 'x',
                                    };
*/
                                    layout1['title'] = 'Temperatura del mar en El Campello'
                                    layout1.xaxis['autorange'] = false
                                    layout1.xaxis['range'] = ["{{t0}}", "{{tf}}"]
                                    layout1.yaxis['title'] = 'ºC'
                                    layout1.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('temp');
                                    Plotly.newPlot( TESTER, [trace1], layout1 );
                                </script>
      			</div>
                     </div>
      	        </div>

                <!-- DOWNLOAD DATA AS CSV (TEMPERATURE) -->
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="temp" />
 			    </div>
 			</div>
    	        </div>

    	        <div class="grid">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   <b> Saturación de oxígeno en El Campello. </b> Se muestra la saturación de oxígeno en disolución en 
                                   El Campello desde {{date1}} hasta {{date2}}.
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

      	        <div class="grid">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="O2"></div>
                                 <script language="javascript" type="text/javascript">
                                     layout1['title'] = 'Saturación de oxígeno en disolución en El Campello'
                                     layout1.yaxis['title'] = '%'
                                     layout1.yaxis.tickformat = '.1f'
                                     layout1.xaxis['autorange'] = true
                                     TESTER = document.getElementById('O2');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ Oxygen_Saturation|safe }} }], 
                                     layout1 );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
                <!-- DOWNLOAD DATA AS CSV (OXYGEN) -->
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="O2" />
 			    </div>
 			</div>
    	        </div>

    	        <div class="grid">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   <b> Turbidez del agua en El Campello. </b> Se muestra la turbidez del agua en 
                                   El Campello desde {{date1}} hasta {{date2}} 
                                   expresada en FNU (Unidades Nefelométricas de Formacina), 
                                   de acuerdo con la norma ISO 7027 para la determinación de la 
                                   turbidez. Esta técnica se utiliza para determinar la concentración
                                   de partículas suspendidas en una muestra de agua midiendo la luz 
                                   incidente dispersada en ángulo recto desde la muestra. 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

      	        <div class="grid">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="TUR"></div>
                                 <script language="javascript" type="text/javascript">
                                     layout1['title'] = 'Turbidez del agua en El Campello'
                                     layout1.xaxis['autorange'] = true
                                     layout1.yaxis['title'] = 'FNU'
                                     layout1.yaxis.tickformat = '.1f'
                                     layout1.yaxis['autorange'] = false
                                     layout1.yaxis['range'] = [0, {{maxTUR}}]
                                     TESTER = document.getElementById('TUR');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ TUR|safe }} }], 
                                     layout2 );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

                <!-- DOWNLOAD DATA AS CSV (TURBIDITY) -->
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="tur" />
 			    </div>
 			</div>
    	        </div>

{% endif %}
                    </form>
    </body>

</html>
