<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cuestionarios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <style type="text/css">
    p {
       font-family: Calibri;
       font-size: 15px;
       align: justify;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .landscape {
        height: 75px;
        width: 200px;
    }
    textarea {
       font-family: Calibri;
    }
    .footer {
       width: 100%;
    }
    .button {
       background-color: #123944;
       width: 250px;
       border-radius: 5px;
       padding: 11px 15px;
       border: none;
       text-align: center;
       text-decoration: none;
       display: block;
       margin: 20px auto;
       font-size: 16px;
       color: #FFFFFF
    }
    .button:hover { background-color: #05C3DD }
    h5 {
       margin: 0px 15px;
    }
    </style>
</head>

<body>
    	<div class="grid">
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" > </a> </p> </div> </div> </div>			
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" > </a> </p> </div> </div> </div>			
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-8">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://www.xylem.com"> <img src="../static/xylem-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-8">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://mowi.com"> <img src="../static/MOWI-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-9">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://avramar.eu"> <img src="../static/AVRAMAR-logo.png" > </a> </p> </div> </div> </div>			
    	</div>
	
        <div class="grid">
    		<div class="col-10-12">
			<div class="content">
     				<p id="funding">
           Este proyecto ha sido financiado por el programa de investigación
           e innovación Horizonte 2020 de la UE bajo acuerdo de
           financiación No. 862626.
                                </p>
                        </div>
                 </div>
         	 <div class="col-2-12">
 		        <div class="content">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" > </a>
 			</div>
 		</div>
        </div>

        <div class="grid">
            <div class="col-5-8">
                <div class="content">
                    <p style="font-size:15px;">
                        ¡Nos encantaría conocer su opinión! Agradeceríamos que completase este
                        cuestionario con su punto de vista acerca de los servicios que ofrece este
                        portal. No es preciso responder a todas las preguntas. Haga clic en 'Enviar'
                        para hacernos llegar su opinión. Gracias.
                    </p>
                </div>
            </div>
         </div>

                    <form method="POST" action="/cuestionarios">

         <!-- PREGUNTAS SOBRE LA SERIE DE ALTURA DEL OLEAJE -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Serie de altura del oleaje </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Wave-Height-Series" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wave-height-series-clarity-1" name="wave-height-series-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-clarity-2" name="wave-height-series-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-clarity-3" name="wave-height-series-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-clarity-4" name="wave-height-series-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-clarity-5" name="wave-height-series-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para conocer la situación del oleaje y su impacto
                         sobre las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wave-height-series-usefulness-1" name="wave-height-series-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-usefulness-2" name="wave-height-series-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-usefulness-3" name="wave-height-series-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-usefulness-4" name="wave-height-series-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-series-usefulness-5" name="wave-height-series-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la serie de altura del oleaje. 
                         Por ejemplo, ¿considera que las alertas para alturas del oleaje superiores a los 2 m (alerta naranja) 
                         y 3 m (alerta roja) son relevantes para el trabajo en las instalaciones? ¿Son apropiados los colores
                         que se utilizan en el gráfico? ¿Echa en falta información adicional sobre las condiciones del oleaje
                         en la zona?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="wave-height-series-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA PREDICCIÓN DE OLEAJE EN EL MAR BALEAR -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Predicción de oleaje en el mar Balear </i> 
                     <a href="https://eurosea.marine.ie/es/Campello-rs#Wave-Height-Forecast-Balearic-Sea" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wave-height-forecast-clarity-1" name="wave-height-forecast-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-clarity-2" name="wave-height-forecast-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-clarity-3" name="wave-height-forecast-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-clarity-4" name="wave-height-forecast-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-clarity-5" name="wave-height-forecast-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para conocer la situación del oleaje y su impacto
                         sobre las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wave-height-forecast-usefulness-1" name="wave-height-forecast-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-usefulness-2" name="wave-height-forecast-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-usefulness-3" name="wave-height-forecast-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-usefulness-4" name="wave-height-forecast-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-height-forecast-usefulness-5" name="wave-height-forecast-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la predicción de oleaje en el mar Balear. 
                         Por ejemplo, ¿son apropiados los colores que se utilizan en el gráfico? ¿Desearía que la predicción se extendiese
                         más allá de cinco días o, por el contrario, cree que es suficiente? El área abarca principalmente el mar 
                         Balear. ¿Sería interesante contar con predicciones en otras zonas del Mediterráneo? 
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="wave-height-forecast-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS DE OLEAJE -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Dirección y periodo del oleaje </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Wave-Wind-Roses" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wave-rose-clarity-1" name="wave-rose-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-clarity-2" name="wave-rose-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-clarity-3" name="wave-rose-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-clarity-4" name="wave-rose-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-clarity-5" name="wave-rose-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para conocer la situación del oleaje y su impacto
                         sobre las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wave-rose-usefulness-1" name="wave-rose-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-usefulness-2" name="wave-rose-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-usefulness-3" name="wave-rose-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-usefulness-4" name="wave-rose-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wave-rose-usefulness-5" name="wave-rose-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre los diagramas de dirección y periodo del oleaje. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que la predicción se
                         extendiese más allá de 24 horas o, por el contrario, cree que es suficiente?  
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="wave-rose-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL PERFIL DE CORRIENTES -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Perfil de corrientes </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#ADCP-Profile" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="ADCP-clarity-1" name="ADCP-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-clarity-2" name="ADCP-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-clarity-3" name="ADCP-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-clarity-4" name="ADCP-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-clarity-5" name="ADCP-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para conocer la situación de las corrientes y su impacto
                         en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="ADCP-usefulness-1" name="ADCP-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-usefulness-2" name="ADCP-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-usefulness-3" name="ADCP-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-usefulness-4" name="ADCP-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-usefulness-5" name="ADCP-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre el diagrama de perfil de corrientes. 
                         Por ejemplo, ¿son apropiados la escala y los colores que se utilizan en el gráfico? 
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="ADCP-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS (CORRIENTES) -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Dirección y velocidad de la corriente </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#ADCP-Roses" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="ADCP-rose-clarity-1" name="ADCP-rose-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-clarity-2" name="ADCP-rose-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-clarity-3" name="ADCP-rose-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-clarity-4" name="ADCP-rose-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-clarity-5" name="ADCP-rose-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para conocer la situación de las corrientes y su impacto
                         en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="ADCP-rose-usefulness-1" name="ADCP-rose-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-usefulness-2" name="ADCP-rose-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-usefulness-3" name="ADCP-rose-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-usefulness-4" name="ADCP-rose-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="ADCP-rose-usefulness-5" name="ADCP-rose-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre los diagramas de dirección y velocidad 
                         de la corriente. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que los datos 
                         extendiesen más allá de 24 horas o, por el contrario, cree que así es suficiente?  
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="ADCP-rose-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS (VIENTO) -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Dirección y velocidad del viento </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Winds" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en estos gráficos? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wind-clarity-1" name="wind-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-clarity-2" name="wind-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-clarity-3" name="wind-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-clarity-4" name="wind-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-clarity-5" name="wind-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para conocer la situación del viento y su impacto
                         en las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="wind-usefulness-1" name="wind-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-usefulness-2" name="wind-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-usefulness-3" name="wind-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-usefulness-4" name="wind-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="wind-usefulness-5" name="wind-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de viento en el portal. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que la predicción  
                         se extendiese más allá de tres días o, por el contrario, cree que así es suficiente?  
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="wind-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA TEMPERATURA -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Temperatura </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Water-Temperature" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en estos gráficos? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="temperature-clarity-1" name="temperature-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-clarity-2" name="temperature-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-clarity-3" name="temperature-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-clarity-4" name="temperature-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-clarity-5" name="temperature-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para la actividad en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="temperature-usefulness-1" name="temperature-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-usefulness-2" name="temperature-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-usefulness-3" name="temperature-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-usefulness-4" name="temperature-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="temperature-usefulness-5" name="temperature-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de temperatura. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que la predicción  
                         se extendiese más allá de tres días o, por el contrario, cree que así es suficiente? ¿Es interesante contar
                         contar con una predicción de temperatura? 
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="temperature-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL OXÍGENO  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Oxígeno </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Oxygen-Saturation" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en estos gráficos? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="oxygen-clarity-1" name="oxygen-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-clarity-2" name="oxygen-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-clarity-3" name="oxygen-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-clarity-4" name="oxygen-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-clarity-5" name="oxygen-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para la actividad en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="oxygen-usefulness-1" name="oxygen-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-usefulness-2" name="oxygen-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-usefulness-3" name="oxygen-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-usefulness-4" name="oxygen-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="oxygen-usefulness-5" name="oxygen-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de la saturación de oxígeno. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="oxygen-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA TURBIDEZ  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Turbidez </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Water-Turbidity" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la claridad de la información que se muestra en estos gráficos? 
                         ¿Es fácil de entender? Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="turbidity-clarity-1" name="turbidity-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-clarity-2" name="turbidity-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-clarity-3" name="turbidity-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-clarity-4" name="turbidity-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-clarity-5" name="turbidity-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Considera que esta información es útil para la actividad en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="turbidity-usefulness-1" name="turbidity-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-usefulness-2" name="turbidity-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-usefulness-3" name="turbidity-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-usefulness-4" name="turbidity-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="turbidity-usefulness-5" name="turbidity-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de la turbidez del agua. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="turbidity-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL PORTAL HISTÓRICO  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Portal de datos históricos </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ-historical" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cómo valoraría la dificultad en el uso del portal de datos históricos? 
                         Valore en una escala desde el 1 (muy difícil) hasta el 5 (muy fácil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="historical-clarity-1" name="historical-clarity" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-clarity-2" name="historical-clarity" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-clarity-3" name="historical-clarity" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-clarity-4" name="historical-clarity" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-clarity-5" name="historical-clarity" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cree que el acceso a datos históricos constituye una herramienta útil? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="historical-usefulness-1" name="historical-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-usefulness-2" name="historical-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-usefulness-3" name="historical-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-usefulness-4" name="historical-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="historical-usefulness-5" name="historical-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre el portal de datos históricos. 
                         Por ejemplo, ¿de qué manera podría mejorarse la facilidad en su uso?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="historical-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>



         <!-- DESCARGA DE DATOS COMO CSV  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p style="display:inline-block; font-size:30px;"> <i> Descarga de datos como CSV </i> </p> 
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p style="font-size:15px;">  
                         ¿Cree que la opción de descarga de datos en CSV constituye una herramienta útil? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">

                     &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; 
                     <label> <input type="radio" id="csv-usefulness-1" name="csv-usefulness" value=1>
                     1</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="csv-usefulness-2" name="csv-usefulness" value=2>
                     2</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="csv-usefulness-3" name="csv-usefulness" value=3>
                     3</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="csv-usefulness-4" name="csv-usefulness" value=4>
                     4</label>

                     &emsp; &emsp; &emsp; &emsp;
                     <label> <input type="radio" id="csv-usefulness-5" name="csv-usefulness" value=5>
                     5</label>

                 </div>
             </div<
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p style="font-size:15px;" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la herramienta de descarga
                         de datos en CSV. 
                         Por ejemplo, ¿de qué manera podría mejorarse la facilidad en su uso? ¿Cree que otros formatos de 
                         archivo serían más apropiados? ¿Es necesario proporcionar información adicional en los archivos
                         CSV disponibles desde este portal?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea style="font-size:15px;" name="csv-comments" cols="166" rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>

        <div class="grid">
            
            <div class="col-5-12">
                <div class="content"></div>
            </div>

            <div class="col-1-6">
                <div class="content">
                       	<input type="submit" value="Enviar" name="submit" style="margin-left: 25px" />
                </div>
            </div>

            <div class="col-5-12">
                <div class="content"></div>
            </div>
         </div>
                    </form>


{% if sent == 'true' %}
        <div class="grid">
            
            <div class="col-1-3">
                <div class="content"></div>
            </div>

            <div class="col-1-3">
                <div class="content">
                        <p> &emsp; &ensp; ¡Gracias por completar el cuestionario! </p>
                </div>
            </div>

            <div class="col-1-3">
                <div class="content"></div>
            </div>
         </div>
{% endif %}

</body>
</html>
