<!DOCTYPE html>
<html lang="es">
<head>
    <title>Cuestionarios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 400px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-device-width: 400px)' href="../static/css/tiny.css?ref=v1" />
    <link rel="icon" href="../static/favicon.png">

</head>

<body>

	<div class="languages-desktop topcorner">

         <div style="width: 25px; float:right; height:28px; margin:13px 150px 10px 10px">
               <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/questionnaires"> <img src="../static/EN.png" > </a> </p>
         </div>

         <div class="center" style="width: 10px; float:right; height:28px; margin:15px 0px 0px 0px; border-width: 0px;">
               <p style="margin:5px 0px;"> <a style="text-decoration:none;" href="https://eurosea.marine.ie/questionnaires"> EN </a> </p> 		
         </div>

          <div style="width:100px; float:right; height:30px; margin:16px 30px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

 	</div>

        <div class="languages-portrait topcorner">

          <div style="width:8px; float:right; height:0px; margin:13.5px 10px 0px 0px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/questionnaires"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:20px 0px 0px 0px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/questionnaires"> EN </a> </p> 
          </div>

          <div style="width:8px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-tiny topcorner">

          <div style="width:12px; float:right; height:0px; margin:12px 10px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/questionnaires"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:16px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/questionnaires"> EN </a> </p> 
          </div>

          <div style="width:12px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/questionnaires"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:17px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/questionnaires"> EN </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:22px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="languages-ipad topcorner">
          <div style="width:30px; float:right; height:0px; margin:30px 30px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/questionnaires"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:27px 5px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/questionnaires"> EN </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:33px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content unpadded">
                    <h1 class="MarineObservatory"> OBSERVATORIO MARINO PARA LA ACUICULTURA </h1> <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-5-8">
                <div class="content">
                    <p class="intro">
                        ¡Nos encantaría conocer su opinión! Agradeceríamos que completase este
                        cuestionario con su punto de vista acerca de los servicios que ofrece este
                        portal. No es preciso responder a todas las preguntas. Haga clic en 'Enviar'
                        para hacernos llegar su opinión. Gracias.
                    </p>
                </div>
            </div>
         </div>

                    <form method="POST" action="/cuestionarios">

         <div class="grid">
             <div class="col-1-1 mobile-col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Valore su interés por este servicio </i> 
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1 mobile-col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Le gustaría que este servicio estuviera disponible en su zona de interés?
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1 mobile-col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="yes_interest" name="interest" value=1>
                     Sí</label> 
                        
                     <label class="answer-label"> <input type="radio" id="no_interest" name="interest" value=0>
                     No</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Si sí, por favor infórmenos de cuál es su área de interés, y 
                         qué tipo de información (p. ej. medidas, predicciones) desearía recibir. Gracias. 
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="interest-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA SERIE DE ALTURA DEL OLEAJE -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Serie de altura del oleaje </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Wave-Height-Series" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-1" name="wave-height-series-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-2" name="wave-height-series-clarity" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-3" name="wave-height-series-clarity" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-4" name="wave-height-series-clarity" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-5" name="wave-height-series-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Considera que esta información es útil para conocer la situación del oleaje y su impacto
                         sobre las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-1" name="wave-height-series-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-2" name="wave-height-series-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-3" name="wave-height-series-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-4" name="wave-height-series-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-5" name="wave-height-series-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la serie de altura del oleaje. 
                         Por ejemplo, ¿considera que las alertas para alturas del oleaje superiores a los 2 m (alerta naranja) 
                         y 3 m (alerta roja) son relevantes para el trabajo en las instalaciones? ¿Son apropiados los colores
                         que se utilizan en el gráfico? ¿Echa en falta información adicional sobre las condiciones del oleaje
                         en la zona?
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="wave-height-series-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA PREDICCIÓN DE OLEAJE EN EL MAR BALEAR -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Predicción de oleaje en el mar Balear </i> 
                     <a href="https://eurosea.marine.ie/es/Campello-rs#Wave-Height-Forecast-Balearic-Sea" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-1" name="wave-height-forecast-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-2" name="wave-height-forecast-clarity" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-3" name="wave-height-forecast-clarity" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-4" name="wave-height-forecast-clarity" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-5" name="wave-height-forecast-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Considera que esta información es útil para conocer la situación del oleaje y su impacto
                         sobre las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-1" name="wave-height-forecast-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-2" name="wave-height-forecast-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-3" name="wave-height-forecast-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-4" name="wave-height-forecast-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-5" name="wave-height-forecast-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la predicción de oleaje en el mar Balear. 
                         Por ejemplo, ¿son apropiados los colores que se utilizan en el gráfico? ¿Desearía que la predicción se extendiese
                         más allá de cinco días o, por el contrario, cree que es suficiente? El área abarca principalmente el mar 
                         Balear. ¿Sería interesante contar con predicciones en otras zonas del Mediterráneo? 
                     </p>
                 </div>
              </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <textarea class="intro" name="wave-height-forecast-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS DE OLEAJE -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Dirección y periodo del oleaje </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Wave-Wind-Roses" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-1" name="wave-rose-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-2" name="wave-rose-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-3" name="wave-rose-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-4" name="wave-rose-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-5" name="wave-rose-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Considera que esta información es útil para conocer la situación del oleaje y su impacto
                         sobre las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-1" name="wave-rose-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-2" name="wave-rose-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-3" name="wave-rose-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-4" name="wave-rose-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-5" name="wave-rose-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre los diagramas de dirección y periodo del oleaje. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que la predicción se
                         extendiese más allá de 24 horas o, por el contrario, cree que es suficiente?  
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="wave-rose-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL PERFIL DE CORRIENTES -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Perfil de corrientes </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#ADCP-Profile" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-1" name="ADCP-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-2" name="ADCP-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-3" name="ADCP-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-4" name="ADCP-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-5" name="ADCP-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Considera que esta información es útil para conocer la situación de las corrientes y su impacto
                         en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-1" name="ADCP-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-2" name="ADCP-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-3" name="ADCP-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-4" name="ADCP-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-5" name="ADCP-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre el diagrama de perfil de corrientes. 
                         Por ejemplo, ¿son apropiados la escala y los colores que se utilizan en el gráfico? 
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="ADCP-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS (CORRIENTES) -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Dirección y velocidad de la corriente </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#ADCP-Roses" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-1" name="ADCP-rose-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-2" name="ADCP-rose-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-3" name="ADCP-rose-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-4" name="ADCP-rose-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-5" name="ADCP-rose-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Considera que esta información es útil para conocer la situación de las corrientes y su impacto
                         en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                             
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-1" name="ADCP-rose-usefulness" value=1>
                     1</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-2" name="ADCP-rose-usefulness" value=2>
                     2</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-3" name="ADCP-rose-usefulness" value=3>
                     3</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-4" name="ADCP-rose-usefulness" value=4>
                     4</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-5" name="ADCP-rose-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre los diagramas de dirección y velocidad 
                         de la corriente. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que los datos 
                         extendiesen más allá de 24 horas o, por el contrario, cree que así es suficiente?  
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="ADCP-rose-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS (VIENTO) -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Dirección y velocidad del viento </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Winds" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wind-clarity-1" name="wind-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-2" name="wind-clarity" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-3" name="wind-clarity" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-4" name="wind-clarity" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-5" name="wind-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Considera que esta información es útil para conocer la situación del viento y su impacto
                         en las condiciones de trabajo en las instalaciones de acuicultura? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wind-usefulness-1" name="wind-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wind-usefulness-2" name="wind-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wind-usefulness-3" name="wind-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="wind-usefulness-4" name="wind-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="wind-usefulness-5" name="wind-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de viento en el portal. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que la predicción  
                         se extendiese más allá de tres días o, por el contrario, cree que así es suficiente?  
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="wind-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA TEMPERATURA -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Temperatura </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Water-Temperature" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-1" name="temperature-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-2" name="temperature-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-3" name="temperature-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-4" name="temperature-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-5" name="temperature-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                                ¿Considera que esta información es útil para la actividad en las instalaciones de acuicultura?  
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-1" name="temperature-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-2" name="temperature-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-3" name="temperature-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-4" name="temperature-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-5" name="temperature-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de temperatura. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico? ¿Desearía que la predicción  
                         se extendiese más allá de tres días o, por el contrario, cree que así es suficiente? ¿Es interesante contar
                         contar con una predicción de temperatura? 
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="temperature-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL OXÍGENO  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Oxígeno </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Oxygen-Saturation" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-1" name="oxygen-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-2" name="oxygen-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-3" name="oxygen-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-4" name="oxygen-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-5" name="oxygen-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                                ¿Considera que esta información es útil para la actividad en las instalaciones de acuicultura?  
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-1" name="oxygen-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-2" name="oxygen-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-3" name="oxygen-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-4" name="oxygen-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-5" name="oxygen-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de la saturación de oxígeno. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="oxygen-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA TURBIDEZ  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Turbidez </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ#Water-Turbidity" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la claridad de la información que se muestra en este gráfico? ¿Es fácil de entender?   
                         Valore en una escala desde el 1 (muy confuso) hasta el 5 (muy claro).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-1" name="turbidity-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-2" name="turbidity-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-3" name="turbidity-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-4" name="turbidity-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-5" name="turbidity-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                                ¿Considera que esta información es útil para la actividad en las instalaciones de acuicultura?  
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-1" name="turbidity-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-2" name="turbidity-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-3" name="turbidity-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-4" name="turbidity-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-5" name="turbidity-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la información de la turbidez del agua. 
                         Por ejemplo, ¿son apropiados los colores y los rangos que se utilizan en el gráfico?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="turbidity-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL PORTAL HISTÓRICO  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Portal de datos históricos </i> 
                     <a href="https://eurosea.marine.ie/es/El-Campello-in-situ-historical" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cómo valoraría la dificultad en el uso del portal de datos históricos? 
                         Valore en una escala desde el 1 (muy difícil) hasta el 5 (muy fácil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="historical-clarity-1" name="historical-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-2" name="historical-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-3" name="historical-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-4" name="historical-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-5" name="historical-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cree que el acceso a datos históricos constituye una herramienta útil? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="historical-usefulness-1" name="historical-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="historical-usefulness-2" name="historical-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-usefulness-3" name="historical-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-usefulness-4" name="historical-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="historical-usefulness-5" name="historical-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre el portal de datos históricos. 
                         Por ejemplo, ¿de qué manera podría mejorarse la facilidad en su uso?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="historical-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>



         <!-- DESCARGA DE DATOS COMO CSV  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Descarga de datos como CSV </i> </p> 
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         ¿Cree que la opción de descarga de datos en CSV constituye una herramienta útil? 
                         Valore en una escala desde el 1 (poco útil) hasta el 5 (muy útil). 
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="csv-usefulness-1" name="csv-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-2" name="csv-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-3" name="csv-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-4" name="csv-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-5" name="csv-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Por favor, añada aquí cualquier comentario que pueda hacernos sobre la herramienta de descarga
                         de datos en CSV. 
                         Por ejemplo, ¿de qué manera podría mejorarse la facilidad en su uso? ¿Cree que otros formatos de 
                         archivo serían más apropiados? ¿Es necesario proporcionar información adicional en los archivos
                         CSV disponibles desde este portal?   
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="csv-comments"  rows="3">
Escriba aquí sus comentarios...
                     </textarea> </div> </div> </div>

        <div class="grid">
            
            <div class="col-5-12">
                <div class="content"></div>
            </div>

            <div class="col-1-6">
                <div class="content">
                       	<input class="submit" type="submit" value="Enviar" name="submit" style="margin-left: 25px" />
                </div>
            </div>

            <div class="col-5-12">
                <div class="content"></div>
            </div>
         </div>
                    </form>


{% if sent == 'true' %}
        <div class="grid">
            
            <div class="col-1-3">
                <div class="content"></div>
            </div>

            <div class="col-1-3">
                <div class="content">
                        <p>  &ensp; ¡Gracias por completar el cuestionario! </p>
                </div>
            </div>

            <div class="col-1-3">
                <div class="content"></div>
            </div>
         </div>
{% endif %}

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        

</body>
</html>
