<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deenish Island Warnings & Forecasts</title>
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css?version=1" />
                <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/tiny-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 1px) and (max-device-width: 320px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />

		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="../static/js/script-1.js"></script>

                <meta id="latest-temperature-value" content="{{latest_temperature}}" >

		<meta id="latest-oxygen-value" content="{{latest_oxygen}}" >

		<meta id="mean-forecast-temperature-value" content="{{mean_forecast_temperature}}" >
		<meta id="min-forecast-temperature-value" content="{{min_forecast_temperature}}" >
		<meta id="max-forecast-temperature-value" content="{{max_forecast_temperature}}" >
    <style>

        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 0px solid #ddd;
        }
          
        th,
        td {
            text-align: left;
            padding: 8px;
        }
  

        ::-webkit-scrollbar {
            height: 20px;            
            width: 4px;             
            border: 1px solid #d5d5d5;
        }
  
        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }
  
        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }
  
        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
          
        .scroll {
            display: block;
            border: 0px solid red;
            padding: 5px;
            margin-top: 5px;
            width: 100%;
            height: 100px;
            overflow-x: auto;
        }
    </style>

</head>

<body onload="init()">
	<div class="languages-desktop topcorner">

          <div style="width:100px; float:right; height:30px; margin:16px 30px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

 	</div>

        <div class="languages-tiny topcorner">

          <div style="width:12px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-portrait topcorner">

          <div style="width:8px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-landscape topcorner">

          <div style="width:120px; float:right; height:0px; margin:22px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="languages-tiny-landscape topcorner">

          <div style="width:120px; float:right; height:0px; margin:22px 0px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>
        </div>

        <div class="languages-ipad topcorner">
          <div style="width:120px; float:right; height:0px; margin:33px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content">
                    <h1 class="MarineObservatory"> MARINE OBSERVATORY FOR AQUACULTURE </h1> 
                    <hr>
                </div> 
            </div>
        </div>
	
         <!-------------------------------------------------------------------------->
         <!--                                                                      -->
         <!--                       HYPERLINKS TO SECTIONS                         -->
         <!--                                                                      -->
         <!-------------------------------------------------------------------------->


    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro" > 
                                   Use the links below to jump to the different sections in this page:
                               </p>
                            </div> 
                         </div>
                   </div>
           </div>

         <div class="grid desktop-ipad">
             <div class="col-1-6 mobile-col-1-6">
                 <div class="content intro">
                     <a href="#Water-Temperature"> Temperature </a> </div> </div>
             <div class="col-1-6 mobile-col-1-6">
                 <div class="content intro">
                     <a href="#Water-Salinity"> Salinity </a> </div> </div>
             <div class="col-1-6 mobile-col-1-6">
                 <div class="content intro">
                     <a href="#Oxygen-Saturation"> Oxygen </a> </div> </div>
             <div class="col-1-6 mobile-col-1-6">
                 <div class="content intro">
                     <a href="#Water-pH"> pH </a> </div> </div>
             <div class="col-1-6 mobile-col-1-6">
                 <div class="content intro">
                     <a href="#Wave-Height"> Waves </a> </div> </div>
             <div class="col-1-6 mobile-col-1-6">
                 <div class="content intro">
                     <a href="#Water-Currents"> Currents </a> </div> </div>
         </div>
    		
         <div class="grid mobile">
             <div class="col-1-4 mobile-col-1-4">
                 <div class="content intro">
                     <a href="#Water-Temperature"> Temperature </a> </div> </div>
             <div class="col-1-5 mobile-col-1-5">
                 <div class="content intro">
                     <a href="#Water-Salinity"> Salinity </a> </div> </div>
             <div class="col-1-5 mobile-col-1-5">
                 <div class="content intro">
                     <a href="#Oxygen-Saturation"> Oxygen </a> </div> </div>
             <div class="col-1-7 mobile-col-1-7">
                 <div class="content intro">
                     <a href="#Water-pH"> pH </a> </div> </div>
             <div class="col-1-5 mobile-col-1-5">
                 <div class="content intro">
                     <a href="#Wave-Height"> Waves </a> </div> </div>
         </div>

  		<script language="javascript" type="text/javascript">

                <!-- Configuration of Mode Bar and Image download -->
                    
                 var config = {
                     'toImageButtonOptions': {
                         'format': 'png',    // Download figure as PNG
                         'scale': 10,        // High resolution figure, suitable for journal publications
                     },
                     'displaylogo': false,
                     // Remove the buttons in the list below, as they are not needed
                     modeBarButtonsToRemove: ['toImage', 'zoom2d', 'pan2d', 'select2d', 'zoomIn2d', 'zoomOut2d', 'hoverClosestCartesian',
                         'hoverCompareCartesian', 'autoScale2d', 'resetScale2d', 'toggleSpikelines'],
                 };

			<!-- Time series layout -->
                    var layoutDesktop = {
                       texttemplate: '%{value:.1f}', title: '',
                       xaxis: {
                           mirror: true,showline: true, ticks: 'outside',
                           tick0: "{{tick0}}", dtick: 86400000, tickformat: '%d %b %y', 
                           tickangle: 90, automargin: true, fixedrange: true,
                       },
                       yaxis: {
                           title: '', mirror: true, showline: true,
                           ticks: 'outside', tickformat: '.1f', fixedrange: true,
                       },
                       font: {
                           family: 'Sans-Serif', size: 18,            
                       },};

                    var layoutMobile = {
                       height: 300,
                       margin: {    l: 40,    r: 1,    b: 0,    t: 20,    pad:0   },
                       texttemplate: '%{value:.1f}', title: '',showlegend: true,
                       legend:{xanchor:"center", yanchor:"top", y:-0.3, x:0.5, orientation: 'h'},
                       xaxis: {
                           mirror: true,showline: true, ticks: 'outside',
                           tick0: "{{tick0}}", dtick: 86400000, tickformat: '%d %b %y', 
                           tickangle: 90, automargin: true, fixedrange: true,
                       },
                       yaxis: {
                           title: '', mirror: true, showline: true,
                           ticks: 'outside', tickformat: '.1f', fixedrange: true,
                       },
                       font: {
                           family: 'Sans-Serif', size: 10,            
                       },};

                    <!-- Wind Rose layout -->

                    var polarLayout = {
                    };

                </script>
    		
                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                          WATER QUALITY                               -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Water Quality Header"> Water Quality </h2>
                        </div>
                    </div>
                </div>

                            <p id="Water-Quality"> </p>

                <!-- ADD A DESCRIPTION OF THE WATER QUALITY SECTION -->

    	        <div class="grid desktop">
    	            <div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Below there are the latest measurements of seawater temperature, salinity, oxygen 
                                   saturation and pH at Deenish Island, as recorded by the YSI EXO2 sensor.
                               </p>
                           </div>
                        </div>
                   </div>

    	            <div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   The temperatures in a 3-day forecast
                                   from the 
				   Northwest Shelf - Ocean Physics Analysis and Forecast
				   service (<a href="https://dx.doi.org/10.48670/moi-00054">DOI:10.48670/moi-00054</a>) 
				   are shown below.
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

                <!-- BLUE (HEADER) TEXT BOXES -->

  		<div class="grid desktop">
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
  				<input value="Water Quality at Deenish Island on {{t1}}" type=text id="time" size='70' />
  				</div>
  			</div>
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
  				<input type=text id="time" size='70'
  				value="Deenish Island 3-day Seawater Temperature Forecast" />
  				</div>
  			</div>
  		</div>
    		
		<div class="grid desktop">
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/thermometer.png" class="icon">
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					<input id="latest-temperature" 
					       class="value-box-1"
					       value="{{latest_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12">
                            <div class="content">
					 <p class="label"> Current temperature </p>
                            </div>
                        </div>
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/thermometer-max.png" class="icon">
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					<input id="max-forecast-temperature"
					           class="value-box-1"
					           value="{{max_forecast_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12">
                            <div class="content">
					 <p class="label"> Max. forecast temperature</p>
                            </div>
                        </div>
		</div>
		    		
  		<div class="grid desktop">
  			<div class="col-1-12">
  				<div class="content">
  					 <img src="../static/oxygen.png" class="icon">
  				</div>
  			</div>
  			<div class="col-2-12">
  				<div class="content">
  					<input id="latest-oxygen"
  					       class="value-box-1"
  					       value="{{latest_oxygen}}%" />
  				</div>
  			</div>
			<div class="col-3-12">
                            <div class="content">
					 <p class="label"> Current oxygen saturation </p>
                            </div>
                        </div>
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/thermometer.png" class="icon">
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					<input id="mean-forecast-temperature"
					           class="value-box-1"
					           value="{{mean_forecast_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12">
                            <div class="content">
					 <p class="label"> Mean forecast temperature</p>
                            </div>
                        </div>
  		</div>    	
  			
  		<div class="grid desktop">
                        <div class="col-1-12">
  				<div class="content">
  					 <img src="../static/pH.png" class="icon">
  				</div>
  			</div>
  			<div class="col-2-12">
  				<div class="content">
  					<input class="value-box-1" value="{{latest_pH}}" />
  				</div>
                        </div>    	
			<div class="col-3-12">
                            <div class="content">
					 <p class="label"> Current pH </p>
                            </div>
                        </div>
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/thermometer-min.png" class="icon">
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					<input id="min-forecast-temperature"
					           class="value-box-1"
					           value="{{min_forecast_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12">
                            <div class="content">
					 <p class="label"> Min. forecast temperature</p>
                            </div>
                        </div>
          	</div>

  		<div class="grid desktop">
                        <div class="col-1-12">
  				<div class="content">
  					 <img src="../static/salt.png" class="icon">
  				</div>
  			</div>
  			<div class="col-2-12">
  				<div class="content">
  					<input class="value-box-1" value="{{latest_salinity}}" />
  				</div>
                        </div>    	
			<div class="col-3-12">
                            <div class="content">
					 <p class="label"> Current salinity </p>
                            </div>
                        </div>
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
  				<input type=text id="time" size='70'
  				value="Deenish Island 5-day Wave Height Forecast" />
		       <div class="grid desktop">
                        <div class="col-1-6">
  				<div class="content">
  					 <img src="../static/wave-height.png" class="icon">
  				</div>
  			</div>
  			<div class="col-1-4">
  				<div class="content">
  					<input class="value-box-1" value="{{wave_max}} m" />
  				</div>
                        </div>    	
			<div class="col-1-4">
                            <div class="content">
					 <p class="label"> Max. Wave Height </p>
                            </div>
                        </div>
			 </div>
          		</div>
  			</div>
          	</div>

                            <p id="Water-Temperature"> </p>

           <div class="grid mobile">
               <div class="col-1-1 mobile-col-1-1">
                   <div class="content">
                	<input class="mobile-input" value="Water Quality at Deenish Island {{t1}}" type=text />
                   </div> 
                </div>
            </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/thermometer.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-temperature" style="border: 0px"
					       class="value-box-1"
					       value="{{latest_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> Temperature </p>
                            </div>
                        </div>
                </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/oxygen.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-temperature" style="border: 0px"
					       class="value-box-1"
					       value="{{latest_oxygen}} %" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> Oxygen </p>
                            </div>
                        </div>
                </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/pH.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-temperature" style="border: 0px"
					       class="value-box-1"
					       value="{{latest_pH}}" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> pH </p>
                            </div>
                        </div>
                </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/salt.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-salinity" style="border: 0px"
					       class="value-box-1"
					       value="{{latest_salinity}}" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> Salinity </p>
                            </div>
                        </div>
                </div>

           <div class="grid mobile">
               <div class="col-1-1 mobile-col-1-1">
                   <div class="content">
                	<input class="mobile-input" value="Deenish Island 3-day Temperature Forecast" type=text />
                   </div> 
                </div>
            </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/thermometer-max.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-temperature" style="border: 0px"
					       class="value-box-1"
					       value="{{max_forecast_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> Max. forecast</p>
                            </div>
                        </div>
                </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/thermometer.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-temperature" style="border: 0px"
					       class="value-box-1"
					       value="{{mean_forecast_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> Mean forecast</p>
                            </div>
                        </div>
                </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/thermometer-min.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-temperature" style="border: 0px"
					       class="value-box-1"
					       value="{{min_forecast_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> Min. forecast</p>
                            </div>
                        </div>
                </div>

           <div class="grid mobile">
               <div class="col-1-1 mobile-col-1-1">
                   <div class="content">
                	<input class="mobile-input" value="Deenish Island 5-day Wave Height Forecast" type=text />
                   </div> 
                </div>
            </div>

		<div class="grid mobile">
			<div class="col-1-12 mobile-col-1-6">
				<div class="content">
					 <img src="../static/wave-height.png" class="responsive">
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-3">
				<div class="content">
					<input id="latest-temperature" style="border: 0px"
					       class="value-box-1"
					       value="{{wave_max}} m" />
				</div>
			</div>
			<div class="col-3-12 mobile-col-1-2">
                            <div class="content">
					 <p class="label" style="margin-top:5px"> Max. Wave Height</p>
                            </div>
                        </div>
                </div>

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Seawater temperature at Deenish Island. </b> The seawater temperature
                                   at Deenish Island for the last seven days as recorded by the YSI EXO2
                                   sensor is shown (observed), together with a 3-day forecast 
                                   from the Northwest Shelf - Ocean Physics Analysis and Forecast service (forecast). 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

  		<div class="grid desktop">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="temp"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time|safe }},
                                        y: {{ temp|safe }},
                                        name: 'observed',
                                        hoverinfo: 'x+y',
                                    }
                                    var trace2 = {
                                        x: {{ fc_sst_time|safe }},
                                        y: {{ fc_sst|safe }},
                                        name: 'forecast',
                                        hoverinfo: 'x+y',
                                    };
                                    var trace3 = {
                                        x: {{ time_c|safe }},
                                        y: {{ seas|safe }},
                                        name: 'climatology',
                                        mode: 'lines',
                                        hoverinfo: 'none',
					line: {
				            width: 1,
					},
                                    }
                                    var trace4 = {
                                        x: {{ time_c|safe }},
                                        y: {{ pc90|safe }},
                                        name: 'PCT. 90',
                                        mode: 'lines',
                                        hoverinfo: 'none',
					line: {
				            width: 1,
					},
                                    };
                                    layoutDesktop['title'] = 'Seawater temperature at Deenish Island'
                                    layoutDesktop.xaxis['autorange'] = false
                                    layoutDesktop.xaxis['range'] = ["{{t0}}", "{{tf}}"]
                                    layoutDesktop.yaxis['title'] = 'ºC'
                                    layoutDesktop.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('temp');
                                    Plotly.newPlot( TESTER, [trace1, trace2, trace3, trace4], layoutDesktop, config );
                                </script>
      			</div>
                     </div>
      	        </div>

  		<div class="grid mobile">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="tempMobile"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time|safe }},
                                        y: {{ temp|safe }},
                                        name: 'observed',
                                        hoverinfo: 'x+y',
                                    }
                                    var trace2 = {
                                        x: {{ fc_sst_time|safe }},
                                        y: {{ fc_sst|safe }},
                                        name: 'forecast',
                                        hoverinfo: 'x+y',
                                    };
                                    var trace3 = {
                                        x: {{ time_c|safe }},
                                        y: {{ seas|safe }},
                                        name: 'climatology',
                                        mode: 'lines',
                                        hoverinfo: 'none',
                                    }
                                    var trace4 = {
                                        x: {{ time_c|safe }},
                                        y: {{ pc90|safe }},
                                        name: 'PCT. 90',
                                        mode: 'lines',
                                        hoverinfo: 'none',
                                    };
                                    layoutMobile['title'] = 'Seawater temperature at Deenish Island'
                                    layoutMobile.xaxis['autorange'] = false
                                    layoutMobile.xaxis['range'] = ["{{t0}}", "{{tf}}"]
                                    layoutMobile.yaxis['title'] = 'ºC'
                                    layoutMobile.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('tempMobile');
                                    Plotly.newPlot( TESTER, [trace1, trace2, trace3, trace4], layoutMobile, config );
                                </script>
      			</div>
                     </div>
      	        </div>

                            <p id="Water-Salinity"> </p>

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Seawater salinity at Deenish Island. </b> The seawater 
                                   salinity at Deenish Island for the last seven days as recorded by the YSI EXO2
                                   sensor is shown below. 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

      	        <div class="grid desktop">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="salt"></div>
                                 <script language="javascript" type="text/javascript">
                                     layoutDesktop['shapes'] = []
                                     layoutDesktop['title'] = 'Seawater Salinity at Deenish Island'
                                     layoutDesktop.yaxis['title'] = ''
                                     layoutDesktop.yaxis.tickformat = '.1f'
                                     layoutDesktop.xaxis['autorange'] = true
                                     TESTER = document.getElementById('salt');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ salt|safe }} }], 
                                     layoutDesktop, config );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
      	        <div class="grid mobile">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="saltMobile"></div>
                                 <script language="javascript" type="text/javascript">
                                     layoutMobile['shapes'] = []
                                     layoutMobile['title'] = 'Seawater Salinity at Deenish Island'
                                     layoutMobile.yaxis['title'] = ''
                                     layoutMobile.yaxis.tickformat = '.1f'
                                     layoutMobile.xaxis['autorange'] = true
                                     layoutMobile.showlegend = false
                                     TESTER = document.getElementById('saltMobile');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ salt|safe }} }], 
                                     layoutMobile, config );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
                            <p id="Oxygen-Saturation"> </p>

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Oxygen saturation at Deenish Island. </b> The oxygen 
                                   saturation at Deenish Island for the last seven days as recorded by the YSI EXO2
                                   sensor is shown below. 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

      	        <div class="grid desktop">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="O2"></div>
                                 <script language="javascript" type="text/javascript">
                                     layoutDesktop['shapes'] = []
                                     layoutDesktop['title'] = 'Dissolved Oxygen Saturation at Deenish Island'
                                     layoutDesktop.yaxis['title'] = '%'
                                     layoutDesktop.yaxis.tickformat = '.1f'
                                     layoutDesktop.xaxis['autorange'] = true
                                     TESTER = document.getElementById('O2');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ O2|safe }} }], 
                                     layoutDesktop, config );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
      	        <div class="grid mobile">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="O2Mobile"></div>
                                 <script language="javascript" type="text/javascript">
                                     layoutMobile['shapes'] = []
                                     layoutMobile['title'] = 'Oxygen Saturation at Deenish Island'
                                     layoutMobile.yaxis['title'] = '%'
                                     layoutMobile.yaxis.tickformat = '.1f'
                                     layoutMobile.xaxis['autorange'] = true
                                     layoutMobile.showlegend = false
                                     TESTER = document.getElementById('O2Mobile');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ O2|safe }} }], 
                                     layoutMobile, config );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
                            <p id="Water-pH"> </p>

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Seawater pH at Deenish Island. </b> The seawater 
                                   pH at Deenish Island for the last seven days as recorded by the YSI EXO2
                                   sensor is shown below. 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>


               <div class="grid desktop">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="pH"></div>
                                 <script language="javascript" type="text/javascript">
                                     TESTER = document.getElementById('pH');
                                     layoutDesktop['title'] = 'Seawater pH at Deenish Island'
                                     layoutDesktop.yaxis['title'] = ''
                                     layoutDesktop.yaxis.tickformat = '.2f'
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ pH|safe }} }], 
                                     layoutDesktop, config );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

      	        <div class="grid mobile">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="pHmobile"></div>
                                 <script language="javascript" type="text/javascript">
                                     TESTER = document.getElementById('pHmobile');
                                     layoutMobile['title'] = 'Seawater pH at Deenish Island'
                                     layoutMobile.yaxis['title'] = ''
                                     layoutMobile.yaxis.tickformat = '.2f'
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ pH|safe }} }], 
                                     layoutMobile, config );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                           WAVE HEIGHT                                -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Wave-Height"> Waves </h2>
                        </div>
                    </div>
                </div>

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Significant wave height at Deenish Island. </b> A forecast of the significant 
				   wave height at Deenish Island is shown below. 
                                   Forecasts are obtained from the
				   <a href="https://doi.org/10.48670/moi-00055">Atlantic-European North West Shelf
					   Ocean Waves Analysis and Forecast Service</a>.
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

               <div class="grid desktop">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="swh"></div>
                                 <script language="javascript" type="text/javascript">
                                    var trace = {
                                        x: {{ wave_time|safe }},
                                        y: {{ swh|safe }},
                                        mode: 'lines',
					line: {
					    color: 'ff7f0e',
					      }
                                     };
                                     TESTER = document.getElementById('swh');
                                     layoutDesktop['title'] = 'Significant Wave Height at Deenish Island (FORECAST)'
                                     layoutDesktop.yaxis['title'] = 'm'
                                     layoutDesktop.yaxis.tickformat = '.1f'
                                     Plotly.newPlot( TESTER, [trace], layoutDesktop, config)
                                 </script>
      			 </div>
      		     </div>
      	        </div>

               <div class="grid mobile">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="swhmobile"></div>
                                 <script language="javascript" type="text/javascript">
                                    var trace = {
                                        x: {{ wave_time|safe }},
                                        y: {{ swh|safe }},
                                        mode: 'lines',
					line: {
					    color: 'ff7f0e',
					      }
                                     };
                                     TESTER = document.getElementById('swhmobile');
                                     layoutMobile['title'] = 'Significant Wave Height at Deenish Island (FORECAST)'
				     layoutMobile['font']['size'] = 8.5 
                                     layoutMobile.yaxis['title'] = 'm'
                                     layoutMobile.yaxis.tickformat = '.1f'
                                     Plotly.newPlot( TESTER, [trace], layoutMobile, config)
                                 </script>
      			 </div>
      		     </div>
      	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                            CURRENTS                                  -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid desktop"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Water-Currents"> Currents </h2>
                        </div>
                    </div>
                </div>

    	<div class="grid desktop">
    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Below, there are the latest surface current speed and direction recorded by the  
                                   Doppler Current Profiler Sensor at Deenish Island. 
                                   The wind rose diagram below shows
                                   the frequency distribution of surface current speed and direction for the 
                                   latest 24 hours.
                                   <b> NOTE</b>: current direction
                                   measurements relate to the direction they are going TO.
                                   
                               </p>
                            </div> 
                         </div>
                   </div>

    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Below, there are the latest seabed current speed and direction recorded by the  
                                   Doppler Current Profiler Sensor at Deenish Island. 
                                   The wind rose diagram below shows
                                   the frequency distribution of seabed current speed and direction for the 
                                   latest 24 hours.
                                   <b> NOTE</b>: current direction
                                   measurements relate to the direction they are going TO.
                               </p>
                            </div> 
                         </div>
                   </div>
           </div>



                <!-- BLUE (HEADER) TEXT BOXES -->

  		<div class="grid desktop">
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
  				<input value="Surface Currents at Deenish Island on {{t1}}" type=text id="time-small" size='70' />
  				</div>
  			</div>
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
  				<input type=text id="time-small" size='70'
  				value="Seabed Currents at Deenish Island on {{t1}}" />
  				</div>
  			</div>
  		</div>
    		
                <!-- LATEST RECORDINGS AND FORECASTS -->

		<div class="grid desktop">
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/wind-speed-icon.png" class="icon">
				</div>
			</div>
			<div class="col-1-6">
				<div class="content">
					<input id="latest-surface-speed" 
					       class="value-box-2"
					       value="{{latest_surface_speed}} cm/s" />
				</div>
			</div>

			<div class="col-1-12">
				<div class="content">
					 <img src="../static/compass-icon.jpg" class="icon">
				</div>
			</div>
			<div class="col-1-6">
				<div class="content">
					<input id="latest-surface-direction" 
					       class="value-box-2"
					       value="{{latest_surface_direction}}º" />
				</div>
                        </div>
		    		
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/wind-speed-icon.png" class="icon">
				</div>
			</div>
			<div class="col-1-6">
				<div class="content">
					<input id="latest-seabed-speed" 
					       class="value-box-2"
					       value="{{latest_seabed_speed}} cm/s" />
				</div>
			</div>

			<div class="col-1-12">
				<div class="content">
					 <img src="../static/compass-icon.jpg" class="icon">
				</div>
			</div>
			<div class="col-1-6">
				<div class="content">
					<input id="latest-seabed-direction" 
     					       class="value-box-2"
					       value="{{latest_seabed_direction}}º" />

				</div>
                        </div>
		</div>
		    		
  		<div class="grid desktop">
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="SurfaceCurrentRose"></div>

                                 <script language="javascript" type="text/javascript">
                                     var graphs = {{DCP_rose_surface | safe}};
                                     TESTER = document.getElementById('SurfaceCurrentRose')
                                     var polarLayout = {
                                         xaxis: {fixedrange: true, }, yaxis: {fixedrange: true,},
                                         title: {
                                             text:'Surface Current Speed and Direction (TO):<br> {{DCP_rose_idate_surface}} to {{DCP_rose_edate_surface}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {});
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>

      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="SeabedCurrentRose"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{DCP_rose_seabed | safe }};
                                     TESTER = document.getElementById('SeabedCurrentRose')
                                     var polarLayout = {
                                         xaxis: {fixedrange: true, }, yaxis: {fixedrange: true,},
                                         title: {
                                             text:'Seabed Current Speed and Direction (TO):<br> {{DCP_rose_idate_seabed}} to {{DCP_rose_edate_seabed}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {});
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>
                </div>

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        
</body>
</html>
