<!doctype html>
<html lang="es">
<html>
	<head>
		<title>El Campello Datos Históricos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 400px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-device-width: 400px)' href="../static/css/tiny.css?ref=v1" />
                <link rel="icon" href="../static/favicon.png">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

	</head>

	<body>

	<div class="languages-desktop topcorner">

         <div style="width: 25px; float:right; height:28px; margin:13px 150px 10px 10px">
               <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/El-Campello-Historical"> <img src="../static/EN.png" > </a> </p>
         </div>

         <div class="center" style="width: 10px; float:right; height:28px; margin:15px 0px 0px 0px; border-width: 0px;">
               <p style="margin:5px 0px;"> <a style="text-decoration:none;" href="https://eurosea.marine.ie/El-Campello-Historical"> EN </a> </p> 		
         </div>

          <div style="width:100px; float:right; height:30px; margin:16px 30px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

 	</div>

        <div class="languages-tiny topcorner">

          <div style="width:12px; float:right; height:0px; margin:12px 20px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/El-Campello-Historical"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:16px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/El-Campello-Historical"> EN </a> </p> 
          </div>

          <div style="width:12px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-portrait topcorner">

          <div style="width:8px; float:right; height:0px; margin:13.5px 10px 0px 0px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/El-Campello-Historical"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:20px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/El-Campello-Historical"> EN </a> </p> 
          </div>

          <div style="width:8px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/El-Campello-Historical"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:17px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/El-Campello-Historical"> EN </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:22px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="languages-ipad topcorner">
          <div style="width:30px; float:right; height:0px; margin:30px 30px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/El-Campello-Historical"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:27px 5px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/El-Campello-Historical"> EN </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:33px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content">
                    <h1 class="MarineObservatory"> OBSERVATORIO MARINO PARA LA ACUICULTURA </h1> 
                    <hr>
                </div> 
            </div>
        </div>
	
         <div class="grid">
 	     <div class="col-1-1">
 		<div class="content">
                           <div class="footer">
       <p class="intro"> 
          Este portal permite conocer cuáles eran las condiciones del mar en El Campello en 
          cualquier fecha desde que la boya comenzó a trasmitir datos hasta la actualidad.
          <b>INSTRUCCIONES:</b> Seleccione el periodo de interés, entre una fecha inicial y 
          una fecha final.
       </p>
                            </div> 
    	        </div>
    	     </div>
    	 </div>

         <div class="grid">
 	     <div class="col-1-1">
 		<div class="content">
                    <form method="POST" action="/es/El-Campello-Historical">
                    <label id="start-label" for="start">Inicio</label>
                    <input type="date" id="start" name="start-date" 
                           value={{date1}}
                           min={{timelist | first}}
                           max={{timelist | last}}>
                    &emsp;
                    <label id="end-label" for="start">Fin</label>
                    <input type="date" id="end" name="end-date"
                           value={{date2}}
                           min={{timelist | first}}
                           max={{timelist | last}}>
                    <input id="submit-historical" type="submit" value="Ver datos" name="submit"/>
    	        </div>
    	     </div>
    	 </div>
                          
{% if csv == 'true' %}

         <!-------------------------------------------------------------------------->
         <!--                                                                      -->
         <!--                       HYPERLINKS TO SECTIONS                         -->
         <!--                                                                      -->
         <!-------------------------------------------------------------------------->

    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Use estos enlaces para acceder rápidamente a las distintas secciones en la página:
                               </p>
                            </div> 
                         </div>
                   </div>
           </div>

         <div class="grid desktop-ipad">
             <div class="col-1-4 mobile-col-1-4">
                 <div class="content intro" style="margin-left:10px">
                     <a href="#Waves Header"> Oleaje </a> </div> </div>
             <div class="col-1-4 mobile-col-1-4">
                 <div class="content intro">
                     <a href="#Currents Header"> Corrientes </a> </div> </div>
             <div class="col-1-4 mobile-col-1-4">
                 <div class="content intro">
                     <a href="#Winds Header"> Viento </a> </div> </div>
             <div class="col-1-4 mobile-col-1-4">
                 <div class="content intro">
                     <a href="#Water Quality Header"> Agua </a> </div> </div>
         </div>
    		
         <div class="grid mobile">
             <div class="col-1-3 mobile-col-1-3">
                 <div class="content intro" style="margin-left:10px">
                     <a href="#Waves Header"> Oleaje </a> </div> </div>
             <div class="col-1-3 mobile-col-1-3">
                 <div class="content intro">
                     <a href="#Water Quality Header"> Agua </a> </div> </div>
         </div>
    		
                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                             WAVES SECTION                            -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Waves Header"> Oleaje </h2>
                        </div>
                    </div>
                </div>

  		<script language="javascript" type="text/javascript">

                <!-- Configuration of Mode Bar and Image download -->
                    
                 var config = {
                     'toImageButtonOptions': {
                         'format': 'png',    // Download figure as PNG
                         'scale': 10,        // High resolution figure, suitable for journal publications
                     },
                     'displaylogo': false,
                     // Remove the buttons in the list below, as they are not needed
                     modeBarButtonsToRemove: ['zoom2d', 'pan2d', 'select2d', 'zoomIn2d', 'zoomOut2d', 'hoverClosestCartesian',
                         'hoverCompareCartesian', 'autoScale2d', 'resetScale2d', 'toggleSpikelines', 'toImage'],
                 };

                    <!-- Wave height series layout -->

                    var layoutWavesDesktop = {
                       texttemplate: '%{value:.1f}',
                       title: 'Altura del oleaje en El Campello',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: 'm',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.2f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                    var layoutWavesMobile = {
                       margin: {    l: 30,    r: 1,    b: 0,    t: 20,    pad:0   },
                       texttemplate: '%{value:.1f}', showlegend: false,
                       title: 'Altura del oleaje en el Campello',
                       xaxis: {
                           mirror: true, showline: true, ticks: 'outside',
                           tickangle: 90, fixedrange: true,
                           automargin: true,
                       },
                       yaxis: {
                           title: 'm', mirror: true, showline: true, ticks:
                           'outside', tickformat: '.2f', fixedrange: true,
                       },
                       font: {
                           family: 'Sans-Serif', size: 10,            
                       },};

                    <!-- Time series layout -->
                    var wind_layout = {
                       texttemplate: '%{value:.1f}',
                       title: '',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tick0: "{{tick0}}",
                           dtick: 86400000,  
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: '',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       coloraxis: {
                           colorscale: 'Bluered',
                           showscale: true,
                           cmin:  0,
                           cmax: 25,
                       },
                       };


                    <!-- Time series layout -->
                    var layoutDesktop = {
                       texttemplate: '%{value:.1f}',
                       title: '',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: '',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                    var layoutMobile = {
                       height: 300, showlegend: false,
                       margin: {    l: 40,    r: 1,    b: 0,    t: 20,    pad:0   },
                       texttemplate: '%{value:.1f}', title: '',
                       legend:{xanchor:"center", yanchor:"top", y:-0.3, x:0.5, orientation: 'h'},
                       xaxis: {
                           mirror: true,showline: true, ticks: 'outside',
                           tickangle: 90, automargin: true, fixedrange: true,
                       },
                       yaxis: {
                           title: '', mirror: true, showline: true,
                           ticks: 'outside', tickformat: '.1f', fixedrange: true,
                       },
                       font: {
                           family: 'Sans-Serif', size: 10,            
                       },};

                    <!-- Turbidity (log-y) series layout -->
                    var layoutDesktopTurbidity = {
                       texttemplate: '%{value:.1f}',
                       title: 'Turbidez del agua en El Campello',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: 'FNU',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                           type: 'log',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                    var layoutMobileTurbidity = {
                       height: 300, showlegend: false,
                       margin: {    l: 40,    r: 1,    b: 0,    t: 20,    pad:0   },
                       title: 'Turbidez del agua en El Campello',
                       texttemplate: '%{value:.1f}', 
                       legend:{xanchor:"center", yanchor:"top", y:-0.3, x:0.5, orientation: 'h'},
                       xaxis: {
                           mirror: true,showline: true, ticks: 'outside',
                           tickangle: 90, automargin: true, fixedrange: true,
                       },
                       yaxis: {
                           title: '', mirror: true, showline: true, type: 'log', title: 'FNU',
                           ticks: 'outside', tickformat: '.1f', fixedrange: true,
                       },
                       font: {
                           family: 'Sans-Serif', size: 10,            
                       },};

                </script>

  		<script language="javascript" type="text/javascript">

                    <!-- Wind Rose layout -->

                    var polarLayout = {
                    };

                </script>
    		
  		<script language="javascript" type="text/javascript">

                    <!-- DCPS heatmap layout -->

                    var DCPSLayout = {
                       title: 'Perfil de velocidad de corrientes en El Campello',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           autorange: true,
                       },
                       yaxis: {
                           autorange: 'reversed',
                           title: 'profundidad (m)',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };

                </script>

                <script language="javascript" type="text/javascript">

                    <!-- Draw red (safety for work) line in wave height series --> 

                    var shapes = [];

                    orangeWarning =  {
                                   type: 'line',
                                   xref: 'paper',
                                   x0: 0,
                                   y0: 2.0,
                                   x1: 1,
                                   y1: 2.0,
                                   line:{
                                         color: '#FFA500',
                                         width: 4,
                                         dash:'dot',
                                        },
                                   };

                    shapes.push(orangeWarning);

                    redWarning =  {
                                   type: 'line',
                                   xref: 'paper',
                                   x0: 0,
                                   y0: 3.0,
                                   x1: 1,
                                   y1: 3.0,
                                   line:{
                                         color: '#FF0000',
                                         width: 4,
                                         dash:'dot',
                                        },
                                   };

                    shapes.push(redWarning);

                </script>

    	       <div class="grid desktop">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Aquí se muestra la altura significante de ola en El Campello (38.43ºN 0.30ºW) desde 
                                   {{date1}} hasta {{date2}}, en base a las medidas del Sensor de Onda Direccional MOTUS de Aanderaa.
                               </p>
                            </div> 
                         </div>
                   </div>
                </div>

  		<div class="grid desktop">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="Hs"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time | safe }},
                                        y: {{ wave_height | safe }},
                                        name: 'Sensor (total)',
                                        hoverinfo: 'x+y',
                                        line: {
                                            color: '#1F77B4', 
                                        }
                                    };
                                    var trace4 = {
                                        x: {{ time | safe }},
                                        y: {{ swell_height |safe }},
                                        name: 'Sensor (mar de fondo)',
                                        hoverinfo: 'x+y',
                                        line: {
                                            color: '#2CA02C', 
                                        }
                                    };

                                    layoutWavesDesktop['shapes'] = shapes
                                    TESTER = document.getElementById('Hs');
                                    Plotly.newPlot( TESTER, [trace1, trace4], layoutWavesDesktop, config);

                                </script>
      			</div>
                     </div>
      	        </div>

  		<div class="grid mobile">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="HsMobile"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time | safe }},
                                        y: {{ wave_height | safe }},
                                        name: 'SWH sensor',
                                        hoverinfo: 'x+y',
                                        line: {
                                            color: '#1F77B4', 
                                        }
                                    };
                                    layoutWavesMobile['shapes'] = shapes
                                    TESTER = document.getElementById('HsMobile');
                                    Plotly.newPlot( TESTER, [trace1], layoutWavesMobile, config);

                                </script>
      			</div>
                     </div>
      	        </div>

                <!-- DOWNLOAD DATA AS CSV (SIGNIFICANT WAVE HEIGHT) -->

		<div class="grid desktop">
                        <div class="col-3-4">
                            <div class="content"></div>
                        </div>
 			<div class="col-1-4">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="SWH" />
 			    </div>
 			</div>
    	        </div>


    	<div class="grid desktop">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Este diagrama muestra la dirección y periodo del oleaje predominantes en
                                   El Campello entre {{date1}} y {{date2}}. 
                                   <br><br><b> NOTA</b>: la dirección del oleaje se refiere a la
                                   dirección de <b>PROCEDENCIA</b> de las olas.
                               </p>
                            </div> 
                         </div>
                   </div>
           </div>
    		
		    		
  		<div class="grid desktop">
      		    <div class="col-1-4"><div class="content"> </div> </div>
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="WaveRose"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{wave_rose_fig | safe}};
                                     TESTER = document.getElementById('WaveRose')
                                     var polarLayout = {
                                         title: {
                                             text:'Dirección (PROCEDENCIA) y Periodo Pico de Ola:<br>{{idate_wave_rose}} a {{edate_wave_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {})
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>
      		    <div class="col-1-4"><div class="content"> </div> </div>

                </div>

                <!-- DOWNLOAD DATA AS CSV (WAVE ROSE) -->

		<div class="grid desktop">
                        <div class="col-3-4">
                            <div class="content"></div>
                        </div>
 			<div class="col-1-4">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="wave" />
 			    </div>
 			</div>
    	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                           CURRENTS SECTION                           -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid desktop"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Currents Header"> Corrientes </h2>
                        </div>
                    </div>
                </div>

    	<div class="grid desktop">
    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Este diagrama representa la dirección y velocidad predominantes de la corriente en 
                                   superficie entre {{date1}} y {{date2}} en El Campello. 
                                   <br><br> <b> NOTA </b>:
                                   la dirección de la corriente se refiere a la dirección <b> HACIA </b> la que viajan las corrientes.
                               </p>
                            </div> 
                         </div>
                   </div>

    		<div class="col-1-2">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Este diagrama representa la dirección y velocidad predominantes de la corriente a 
                                   15 metros de profundidad entre {{date1}} y {{date2}} en El Campello. 
                                   <br><br> <b> NOTA </b>:
                                   la dirección de la corriente se refiere a la dirección <b> HACIA </b> la que viajan las corrientes.
                               </p>
                            </div> 
                         </div>
                   </div>
           </div>



  		<div class="grid desktop">
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="SurfaceCurrentRose"></div>

                                 <script language="javascript" type="text/javascript">
                                     var graphs = {{surf_rose_fig | safe}};
                                     TESTER = document.getElementById('SurfaceCurrentRose')
                                     var polarLayout = {
                                         title: {
                                             text:'Velocidad y Dirección de la Corriente (superficie):<br>{{idate_surf_rose}} a {{edate_surf_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {});
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>

      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="SeabedCurrentRose"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{seab_rose_fig | safe }};
                                     TESTER = document.getElementById('SeabedCurrentRose')
                                     var polarLayout = {
                                         title: {
                                             text:'Velocidad y Dirección de la Corriente a 15 metros:<br>{{idate_seab_rose}} a {{edate_seab_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {});
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                        </div>
                    </div>
                </div>

                <!-- DOWNLOAD DATA AS CSV (CURRENTS SPEED AND DIRECTION) -->

		<div class="grid desktop">
                        <div class="col-3-4">
                            <div class="content"></div>
                        </div>
 			<div class="col-1-4">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="currents" />
 			    </div>
 			</div>
    	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                             WINDS SECTION                            -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <!-- Header -->
                <div class="grid desktop"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Winds Header"> Viento </h2>
                        </div>
                    </div>
                </div>

                <!-- ADD A DESCRIPTION OF THE WINDS SECTION -->

    	        <div class="grid desktop">
    	       	    <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   Este diagrama representa la dirección y velocidad predominantes del viento en El Campello
                                   entre {{date1}} y {{date2}}. 
                          <br><br><b> NOTA</b>: la dirección del viento se refiere a la dirección de <b> PROCEDENCIA </b> del viento.  
                               </p>
                            </div> 
                         </div>
                   </div>
                </div>


  		<div class="grid desktop">
      		    <div class="col-1-4"><div class="content"> </div> </div>
      		    <div class="col-1-2">
      			<div class="content">
          		     <div class="Series" id="WindRose"></div>

                                 <script language="javascript" type="text/javascript">
   
                                     var graphs = {{wind_rose_fig | safe}};
                                     TESTER = document.getElementById('WindRose')

                                     var polarLayout = {
                                         title: {
                                             text:'Dirección (PROCEDENCIA) y velocidad del viento:<br>{{idate_wind_rose}} a {{edate_wave_rose}}',
                                             font: {
                                                 family: 'Courier New, monospace',
                                                 size: 10,
                                              },
                                         },
                                     };
                                     Plotly.newPlot(TESTER, graphs, {}, config);
                                     Plotly.relayout(TESTER, polarLayout)

                                 </script>

                             </div>
                         </div>

      		    <div class="col-1-4"><div class="content"> </div> </div>
                </div>

                <!-- DOWNLOAD DATA AS CSV (WIND) -->

		<div class="grid desktop">
                        <div class="col-3-4">
                            <div class="content"></div>
                        </div>
 			<div class="col-1-4">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="wind" />
 			    </div>
 			</div>
    	        </div>

                <!-------------------------------------------------------------------------->
                <!--                                                                      -->
                <!--                          WATER QUALITY                               -->
                <!--                                                                      -->
                <!-------------------------------------------------------------------------->

                <div class="grid"> 
                    <div class="col-1-1">
                        <div class="content">
                            <h2 id="Water Quality Header"> Agua </h2>
                        </div>
                    </div>
                </div>


                <!-- ADD A DESCRIPTION OF THE WATER QUALITY SECTION -->

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Temperatura del mar en El Campello. </b> Se muestra la 
                                   evolución de la temperatura del mar en El Campello desde {{date1}} hasta {{date2}}. 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

  		
  		<div class="grid desktop">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="temp"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time|safe }},
                                        y: {{ temp|safe }},
                                        name: 'observed',
                                        hoverinfo: 'x+y',
                                    }
                                    layoutDesktop['title'] = 'Temperatura del mar en El Campello'
                                    layoutDesktop.xaxis['autorange'] = false
                                    layoutDesktop.xaxis['range'] = ["{{t0}}", "{{tf}}"]
                                    layoutDesktop.yaxis['title'] = 'ºC'
                                    layoutDesktop.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('temp');
                                    Plotly.newPlot( TESTER, [trace1], layoutDesktop, config );
                                </script>
      			</div>
                     </div>
      	        </div>

  		<div class="grid mobile">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="tempMobile"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time|safe }},
                                        y: {{ temp|safe }},
                                        name: 'observed',
                                        hoverinfo: 'x+y',
                                    }
                                    layoutMobile['title'] = 'Temperatura del mar en El Campello'
                                    layoutMobile.xaxis['autorange'] = false
                                    layoutMobile.xaxis['range'] = ["{{t0}}", "{{tf}}"]
                                    layoutMobile.yaxis['title'] = 'ºC'
                                    layoutMobile.yaxis.tickformat = '.1f'
                                    layoutMobile.showlegend = false
                                    TESTER = document.getElementById('tempMobile');
                                    Plotly.newPlot( TESTER, [trace1], layoutMobile, config );
                                </script>
      			</div>
                     </div>
      	        </div>

                <!-- DOWNLOAD DATA AS CSV (TEMPERATURE) -->
		<div class="grid desktop">
                        <div class="col-3-4">
                            <div class="content"></div>
                        </div>
 			<div class="col-1-4">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="temp" />
 			    </div>
 			</div>
    	        </div>

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Saturación de oxígeno en El Campello. </b> Se muestra la saturación de oxígeno en disolución en 
                                   El Campello desde {{date1}} hasta {{date2}}.
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

      	        <div class="grid desktop">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="O2"></div>
                                 <script language="javascript" type="text/javascript">
                                     layoutDesktop['title'] = 'Saturación de oxígeno El Campello'
                                     layoutDesktop.yaxis['title'] = '%'
                                     layoutDesktop.yaxis.tickformat = '.1f'
                                     layoutDesktop.xaxis['autorange'] = true
                                     TESTER = document.getElementById('O2');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ O2|safe }} }], 
                                     layoutDesktop, config );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
      	        <div class="grid mobile">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="O2mobile"></div>
                                 <script language="javascript" type="text/javascript">
                                     layoutMobile['title'] = 'Saturación de oxígeno El Campello'
                                     layoutMobile.yaxis['title'] = '%'
                                     layoutMobile.yaxis.tickformat = '.1f'
                                     layoutMobile.xaxis['autorange'] = true
                                     TESTER = document.getElementById('O2mobile');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ O2|safe }} }], 
                                     layoutMobile, config );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
                <!-- DOWNLOAD DATA AS CSV (OXYGEN) -->
		<div class="grid desktop">
                        <div class="col-3-4">
                            <div class="content"></div>
                        </div>
 			<div class="col-1-4">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="O2" />
 			    </div>
 			</div>
    	        </div>

    	        <div class="grid desktop">
    	            <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p class="intro"> 
                                   <b> Turbidez del agua en El Campello. </b> Se muestra la turbidez del agua en 
                                   El Campello desde {{date1}} hasta {{date2}} 
                                   expresada en FNU (Unidades Nefelométricas de Formacina), 
                                   de acuerdo con la norma ISO 7027 para la determinación de la 
                                   turbidez. Esta técnica se utiliza para determinar la concentración
                                   de partículas suspendidas en una muestra de agua midiendo la luz 
                                   incidente dispersada en ángulo recto desde la muestra. 
                               </p>
                           </div>
                        </div>
                   </div>
                </div>

               <div class="grid desktop">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="TUR"></div>
                                 <script language="javascript" type="text/javascript">
                                     TESTER = document.getElementById('TUR');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ tur|safe }} }], 
                                     layoutDesktopTurbidity, config );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

               <div class="grid mobile">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="TURmobile"></div>
                                 <script language="javascript" type="text/javascript">
                                     TESTER = document.getElementById('TURmobile');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ tur|safe }} }], 
                                     layoutMobileTurbidity, config );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

                <!-- DOWNLOAD DATA AS CSV (TURBIDITY) -->
		<div class="grid desktop">
                        <div class="col-3-4">
                            <div class="content"></div>
                        </div>
 			<div class="col-1-4">
 		   	    <div class="content">
                                <input type="submit" value="Descargar como CSV" name="tur" />
 			    </div>
 			</div>
    	        </div>

{% endif %}
                    </form>

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        
    </body>

</html>
