<!doctype html>
<html lang="en">
<html>
	<head>
		<title>Killeenaran and Galway Bay Warnings & Forecasts</title>
		<meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
                <link rel="icon" href="../static/MarineInstitute.png">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="../static/js/script.js"></script>

                <style>
               

.galway-value-box {       
    font-size: 25px;
    font-weight: bold;       
    width: 100px;
    text-align: center;       
    margin-top: 15px;
    border: 0px solid black;
    border-radius: 5px;
    padding: 15px 15px;     
}

.unpadded {
  padding: 0
}

.responsive {
  width: 100%;
  max-width: 800px;
  height: auto;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.footer {
  width: 100%;
}

.time-1 {
    background-color: #123944;
    width: 330px;
    border-radius: 5px;
    line-height: 60px;
    border: none;
    text-align: center;     
    font-size: 18px;
    color: #FFFFFF
}

.time-2 {
    background-color: #123944;
    width: 330px;
    border-radius: 5px;
    line-height: 60px;
    border: none;
    text-align: center;     
    font-size: 18px;
    color: #FFFFFF
}

@media screen and (max-width: 800px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .galway-value-box {       
    font-size: 14px;
    font-weight: bold;       
    width: 50px;
    text-align: center;       
    margin-top: 5px;
    border: 0px solid black;
    border-radius: 5px;
    padding: 5px 5px;     
  }

  .time-1 {
    background-color: #123944;
    width: 200px;
    border-radius: 5px;
    line-height: 30px;
    border: none;
    text-align: center;     
    font-size: 12px;
    color: #FFFFFF
  }

  .time-2 {
    background-color: #123944;
    width: 200px;
    border-radius: 5px;
    line-height: 30px;
    border: none;
    text-align: center;     
    font-size: 10px;
    color: #FFFFFF
  }
}

                </style>
		
	</head>

	<body>
	
                <!-- MOBILE PHONE VERSION -->
    	        <div class="grid mobile">
    		    <div class="col-1-5 mobile-col-1-2">
    			<div class="content unpadded">
                            <div class="landscape">
        	               <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                                   </a> </p> </div> </div> </div>			

    		    <div class="col-1-5 mobile-col-1-2">
    			<div class="content unpadded">
                            <div class="landscape">
        	                <p> <a href="https://cuanbeo.com"> <img src="../static/CuanBeo-logo.png" alt="Cuan Beo" class="responsive" >
                                    </a> </p> </div> </div> </div>			
                </div>        

                <div class="grid mobile">
    		   <div class="col-1-1">
    			<div class="content unpadded">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:12px;"> 
                                   This portal shows the seawater temperature and salinity conditions at Killeenaran (53.198ºN, 8.942ºW) 
                                   in Galway Bay from a ROMS coastal model developed at the Marine Institute.  
                               </p>
                            </div> 
                         </div>
                      </div>
                </div>

  		<div class="grid mobile">
  			<div class="col-1-1">
  				<div class="content unpadded">
                                    <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:12px;"> 
                                        Below, there are the <b> current seawater temperature and salinity </b> conditions at Killeenaran,
                                        at the surface and the seabed. <b> Time is in UTC </b>. 
                               </p>
                                    </div>
  				</div>
  			</div>
                </div>
 
  		<div class="grid mobile">
  			<div class="col-1-1 mobile-col-1-1">
  				<div class="content">
  				<input value="Killeenaran on {{ahora}}" type=text class="time-1" size='70'/>
  				</div>
  			</div>
  		</div>
    		
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-4">
				<div class="content">
					 <img src="../static/seawater-temperature.png" alt="thermometer" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-1-4">
				<div class="content">
                                    <p style="font-size:12px; font-family:Calibri">Surface</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{latest_temperature_surface}} ºC" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-4">
				<div class="content">
					 <img src="../static/seawater-temperature.png" alt="thermometer" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-1-4">
				<div class="content">
                                    <p style="font-size:12px; font-family:Calibri">Seabed</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{latest_temperature_seabed}} ºC" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-5">
				<div class="content">
					 <img src="../static/salt.png" alt="salinity" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-1-4">
				<div class="content">
                                    <p style="font-size:12px; margin-left:11px; font-family:Calibri">Surface</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input style="margin-left:7px"; 
					        class="galway-value-box"
					        value="{{latest_salinity_surface}}" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-5">
				<div class="content">
					 <img src="../static/salt.png" alt="salinity" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-1-4">
				<div class="content">
                                    <p style="font-size:12px; margin-left:11px; font-family:Calibri">Seabed</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input style="margin-left:7px"; 
					        class="galway-value-box"
					        value="{{latest_salinity_seabed}}" />
				</div>
			</div>
                </div>
			
  		<div class="grid mobile">
  			<div class="col-1-1">
  				<div class="content unpadded">
                                    <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:12px;"> 
                                        Below, there are the minimum and maximum seawater <b> temperatures </b>
                                        at Killeenaran in a 3-day forecast.
                               </p>
                                    </div>
  				</div>
  			</div>
                </div>
 
  		<div class="grid mobile">
  			<div class="col-1-1 mobile-col-1-1">
  				<div class="content">
  				<input type=text class="time-2" size='70'
  				value="Killeenaran 3-day Temperature Forecast" />
  				</div>
  			</div>
  		</div>
    		

		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-4">
				<div class="content">
					 <img src="../static/seawater-temperature.png" alt="thermometer" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Min. at surface</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{minimum_temperature_forecast_surface}} ºC" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-4">
				<div class="content">
					 <img src="../static/seawater-temperature.png" alt="thermometer" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Max. at surface</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{maximum_temperature_forecast_surface}} ºC" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-4">
				<div class="content">
					 <img src="../static/seawater-temperature.png" alt="thermometer" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Min. at seabed</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{minimum_temperature_forecast_seabed}} ºC" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-4">
				<div class="content">
					 <img src="../static/seawater-temperature.png" alt="thermometer" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Max. at seabed</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{maximum_temperature_forecast_seabed}} ºC" />
				</div>
			</div>
                </div>
			
  		<div class="grid mobile">
  			<div class="col-1-1">
  				<div class="content unpadded">
                                    <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:12px;"> 
                                        Below, there are the minimum and maximum seawater <b> salinities </b> 
                                        at Killeenaran in a 3-day forecast.
                               </p>
                                    </div>
  				</div>
  			</div>
                </div>
 
  		<div class="grid mobile">
  			<div class="col-1-1 mobile-col-1-1">
  				<div class="content">
  				<input type=text class="time-2" size='70'
  				value="Killeenaran 3-day Salinity Forecast" />
  				</div>
  			</div>
  		</div>
    		
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-5">
				<div class="content">
					 <img src="../static/salt.png" alt="salinity" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Min. at surface</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{minimum_salinity_forecast_surface}}" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-5">
				<div class="content">
					 <img src="../static/salt.png" alt="salinity" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Max. at surface</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{maximum_salinity_forecast_surface}}" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-5">
				<div class="content">
					 <img src="../static/salt.png" alt="salinity" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Min. at seabed</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{minimum_salinity_forecast_seabed}}" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-6 mobile-col-1-5">
				<div class="content">
					 <img src="../static/salt.png" alt="salinity" class="responsive">
				</div>
			</div>
			<div class="col-1-12 mobile-col-2-5">
				<div class="content">
                                    <p style="font-size:10px; font-family:Calibri">Max. at seabed</p>
				</div>
			</div>
			<div class="col-2-12 mobile-col-1-4">
				<div class="content">
					 <input  
					        class="galway-value-box"
					        value="{{maximum_salinity_forecast_seabed}}" />
				</div>
			</div>
                </div>
			
		<div class="grid mobile">
			<div class="col-1-1">
				<div class="content unpadded">
                                   <hr> </div> </div> </div>
  			
                <div class="grid mobile">
    		   <div class="col-1-1">
    			<div class="content unpadded">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:12px;"> 
                                   The charts below show the time series of seawater temperature and salinity at Killeenaran.
                                   The Galway Bay model "prediction" before present is referred to as "hindcast" (blue), whereas
                                   the forecast is shown as an orange line. 
                               </p>
                            </div> 
                         </div>
                      </div>
                </div>
  			
  		<script language="javascript" type="text/javascript">

                    <!-- Time series layout -->
                    var layout = {
                       width: 250,
                       height: 200,
                       margin: {
                           l: 40, r: 10, b: 30, t: 30, pad: 4, 
                       },
                       showlegend: false,
                       texttemplate: '%{value:.1f}',
                       title: '',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                           fixedrange: true,
                           range: ["{{phone_idate}}", "{{edate}}"],
                       },
                       yaxis: {
                           title: '',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                           fixedrange: true,
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 8,            
                       },
                       };
                    
                </script>
  		
  		<div class="grid mobile">
      		    <div class="col-1-1">
      			<div class="content unpadded">
          		    <div class="Series" id="surface-temperature"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sstK|safe }},
                                        name: 'surface',
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    }
                                    var trace3 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sstK_FC|safe }},
                                        showlegend: false,
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    }
                                    layout['title'] = 'Surface temperature at Killeenaran'
                                    layout.yaxis['title'] = 'ºC'
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('surface-temperature');
                                    Plotly.newPlot( TESTER, [trace1, trace3], layout, {displayModeBar: false} );
                                </script>
      			</div>
                     </div>
      	        </div>


  		<div class="grid mobile">
      		    <div class="col-1-1">
      			<div class="content unpadded">
          		    <div class="Series" id="seabed-temperature"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace2 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sbtK|safe }},
                                        name: 'seabed',
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    };
                                    var trace4 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sbtK_FC|safe }},
                                        showlegend: false,
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    };
                                    layout['title'] = 'Seabed temperature at Killeenaran'
                                    layout.yaxis['title'] = 'ºC'
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('seabed-temperature');
                                    Plotly.newPlot( TESTER, [trace2, trace4], layout, {displayModeBar: false} );
                                </script>
      			</div>
                     </div>
      	        </div>

  		
  		<div class="grid mobile">
      		    <div class="col-1-1">
      			<div class="content unpadded">
          		    <div class="Series" id="surface-salinity"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sssK|safe }},
                                        name: 'surface',
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    }
                                    var trace3 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sssK_FC|safe }},
                                        name: 'surface forecast',
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    }
                                    layout['title'] = 'Surface salinity at Killeenaran'
                                    layout.yaxis['title'] = ''
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('surface-salinity');
                                    Plotly.newPlot( TESTER, [trace1, trace3], layout, {displayModeBar: false} );
                                </script>
      			</div>
                     </div>
      	        </div>

  		<div class="grid mobile">
      		    <div class="col-1-1">
      			<div class="content unpadded">
          		    <div class="Series" id="seabed-salinity"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace2 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sbsK|safe }},
                                        name: 'seabed',
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    };
                                    var trace4 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sbsK_FC|safe }},
                                        name: 'seabed forecast',
                                        hoverinfo: 'x+y',
                                        line: {width: 1},
                                    };
                                    layout['title'] = 'Seabed salinity at Killeenaran'
                                    layout.yaxis['title'] = ''
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('seabed-salinity');
                                    Plotly.newPlot( TESTER, [trace2, trace4], layout, {displayModeBar: false} );
                                </script>
      			</div>
                     </div>
      	        </div>

                <!-- DESKTOP VERSION -->
    	        <div class="grid desktop">
                    <div class="col-11-12"> <div class="content unpadded"> </div> </div>
                    <div class="col-1-12"> 
                       <div class="content unpadded">
                           <img src="../static/QR-Killeenaran.png" class="responsive"> 
                       </div>
                    </div>
                </div>

    	        <div class="grid desktop">
    		    <div class="col-1-4">
    			<div class="content"></div> </div> 
    		    <div class="col-1-4">
    			<div class="content">
                            <div class="landscape">
        	               <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                                   </a> </p> </div> </div> </div>			

    		    <div class="col-1-4">
    			<div class="content">
                            <div class="landscape">
        	                <p> <a href="https://cuanbeo.com"> <img src="../static/CuanBeo-logo.png" alt=Cuan Beo" class="responsive" >
                                    </a> </p> </div> </div> </div>			
    		    <div class="col-1-4">
    			<div class="content"></div> </div> 
                </div>        

                <div class="grid desktop">
    		   <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   This portal shows the seawater temperature and salinity conditions at Killeenaran (53.198ºN, 8.942ºW) 
                                   in Galway Bay from a ROMS hydrodynamic coastal model developed at the Marine Institute. Please use 
                                   the QR code on the top right for ease of access from your phone.  
                               </p>
                            </div> 
                         </div>
                      </div>
                </div>

  		<div class="grid desktop">
  			<div class="col-1-3">
  				<div class="content">
                                    <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:14px;"> 
                                        Below, there are the <b> current seawater temperature and salinity </b> conditions at Killeenaran,
                                        at the surface and the seabed. <b> Time is in UTC. </b>
                               </p>
                                    </div>
  				</div>
  			</div>
  			<div class="col-1-3">
  				<div class="content">
                                    <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:14px;"> 
                                        Below, there are the minimum and maximum seawater <b> temperatures </b>
                                        at Killeenaran in a 3-day forecast.
                               </p>
                                    </div>
  				</div>
  			</div>
  			<div class="col-1-3">
  				<div class="content">
                                    <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:14px;"> 
                                        Below, there are the minimum and maximum seawater <b> salinities </b>
                                        at Killeenaran in a 3-day forecast.
                               </p>
                                    </div>
  				</div>
  			</div>
  		</div>
    		
  		<div class="grid desktop">
  			<div class="col-1-3">
  				<div class="content">
  				<input value="Killeenaran on {{ahora}}" type=text class="time-1" size='70'/>
  				</div>
  			</div>
  			<div class="col-1-3">
  				<div class="content">
  				<input type=text class="time-2" size='70'
  				value="Killeenaran 3-day Temperature Forecast" />
  				</div>
  			</div>
  			<div class="col-1-3">
  				<div class="content">
  				<input type=text class="time-2" size='70'
  				value="Killeenaran 3-day Salinity Forecast" />
  				</div>
  			</div>
  		</div>
    		
		<div class="grid desktop">
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/seawater-temperature.png" class="responsive">
				</div>
			</div>
			<div class="col-1-12">
				<div class="content">
                                    <p style="font-size:28px; font-family:Calibri">Surface</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{latest_temperature_surface}} ºC" />
				</div>
			</div>
			
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Surface min.</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{minimum_temperature_forecast_surface}} ºC" />
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Surface min.</p>
				</div>
			</div>
			<div class="col-1-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{minimum_salinity_forecast_surface}}" />
				</div>
			</div>
		</div>


		<div class="grid desktop">
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/seawater-temperature.png" class="responsive">
				</div>
			</div>
			<div class="col-1-12">
				<div class="content">
                                    <p style="font-size:28px; font-family:Calibri">Seabed</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{latest_temperature_seabed}} ºC" />
				</div>
			</div>
			
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Surface max.</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{maximum_temperature_forecast_surface}} ºC" />
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Surface max.</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{maximum_salinity_forecast_surface}}" />
				</div>
			</div>
		</div>



		<div class="grid desktop">
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/salt.png" class="responsive">
				</div>
			</div>
			<div class="col-1-12">
				<div class="content">
                                    <p style="font-size:28px; font-family:Calibri">Surface</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{latest_salinity_surface}}" />
				</div>
			</div>
			
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Seabed min.</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{minimum_temperature_forecast_seabed}} ºC" />
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Seabed min.</p>
				</div>
			</div>
			<div class="col-1-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{minimum_salinity_forecast_seabed}}" />
				</div>
			</div>
		</div>


		<div class="grid desktop">
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/salt.png" class="responsive">
				</div>
			</div>
			<div class="col-1-12">
				<div class="content">
                                    <p style="font-size:28px; font-family:Calibri">Seabed</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{latest_salinity_seabed}}" />
				</div>
			</div>
			
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Seabed max.</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{maximum_temperature_forecast_seabed}} ºC" />
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
                                    <p style="font-size:28px; text-align:center; font-family:Calibri">Seabed max.</p>
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="galway-value-box"
					        value="{{maximum_salinity_forecast_seabed}}" />
				</div>
			</div>
		</div>

                
		<div class="grid desktop">
			<div class="col-1-1">
				<div class="content">
                                   <hr> </div> </div> </div>
		    		
                <div class="grid desktop">
    		   <div class="col-1-1">
    			<div class="content">
                           <div class="footer">
                               <p align="justify" style="font-family:Arial;font-size:16px;"> 
                                   The charts below show the time series of seawater temperature and salinity at Killeenaran.
                                   The Galway Bay model "prediction" before present is referred to as "hindcast" (blue), whereas
                                   the forecast is shown as an orange line. 
                               </p>
                            </div> 
                         </div>
                      </div>
                </div>
  			
  		<script language="javascript" type="text/javascript">
                    <!-- Time series layout -->
                    var layout = {
                       texttemplate: '%{value:.1f}',
                       title: '',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickangle: 90,
                           automargin: true,
                           range: ["{{desktop_idate}}", "{{edate}}"],
                       },
                       yaxis: {
                           title: '',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };
                    
                </script>
  		
  		<div class="grid desktop">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="surface-temperature-desktop"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sstK|safe }},
                                        name: 'Hindcast',
                                        hoverinfo: 'x+y',
                                    }
                                    var trace3 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sstK_FC|safe }},
                                        name: 'Forecast',
                                        hoverinfo: 'x+y',
                                    }
                                    layout['title'] = 'Surface temperature at Killenaran'
                                    layout.yaxis['title'] = 'ºC'
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('surface-temperature-desktop');
                                    Plotly.newPlot( TESTER, [trace1, trace3], layout );
                                </script>
      			</div>
                     </div>
      	        </div>

  		<div class="grid desktop">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="seabed-temperature-desktop"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace2 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sbtK|safe }},
                                        name: 'Hindcast',
                                        hoverinfo: 'x+y',
                                    };
                                    var trace4 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sbtK_FC|safe }},
                                        name: 'Forecast',
                                        hoverinfo: 'x+y',
                                    };
                                    layout['title'] = 'Seabed temperature at Killenaran'
                                    layout.yaxis['title'] = 'ºC'
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('seabed-temperature-desktop');
                                    Plotly.newPlot( TESTER, [trace2, trace4], layout );
                                </script>
      			</div>
                     </div>
      	        </div>

  		<div class="grid desktop">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="surface-salinity-desktop"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sssK|safe }},
                                        name: 'Hindcast',
                                        hoverinfo: 'x+y',
                                    }
                                    var trace3 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sssK_FC|safe }},
                                        name: 'Forecast',
                                        hoverinfo: 'x+y',
                                    }
                                    layout['title'] = 'Surface salinity at Killenaran'
                                    layout.yaxis['title'] = ''
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('surface-salinity-desktop');
                                    Plotly.newPlot( TESTER, [trace1, trace3], layout );
                                </script>
      			</div>
                     </div>
      	        </div>

  		<div class="grid desktop">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="seabed-salinity-desktop"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace2 = {
                                        x: {{ time_hindcast|safe }},
                                        y: {{ sbsK|safe }},
                                        name: 'Hindcast',
                                        hoverinfo: 'x+y',
                                    };
                                    var trace4 = {
                                        x: {{ time_forecast|safe }},
                                        y: {{ sbsK_FC|safe }},
                                        name: 'Forecast',
                                        hoverinfo: 'x+y',
                                    };
                                    layout['title'] = 'Seabed salinity at Killenaran'
                                    layout.yaxis['title'] = ''
                                    layout.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('seabed-salinity-desktop');
                                    Plotly.newPlot( TESTER, [trace2, trace4], layout );
                                </script>
      			</div>
                     </div>
      	        </div>

    </body>

</html>
