<!DOCTYPE html>
<html lang="es">
<head>
    <title>Servicio Técnico EuroSea</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <style type="text/css">
    p {
       font-family: Calibri;
       font-size: 15px;
       align: justify;
    }
    img {
        max-width: 100%;
        max-height: 100%;
    }
    .landscape {
        height: 75px;
        width: 200px;
    }
    textarea {
       font-family: Calibri;
       font-size: 18px;
    }
    .footer {
       width: 100%;
    }
    .button {
       background-color: #123944;
       width: 250px;
       border-radius: 5px;
       padding: 11px 15px;
       border: none;
       text-align: center;
       text-decoration: none;
       display: block;
       margin: 20px auto;
       font-size: 16px;
       color: #FFFFFF
    }
    .button:hover { background-color: #05C3DD }
    h5 {
       margin: 0px 15px;
    }
    </style>
</head>

<body>
    	<div class="grid">
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" > </a> </p> </div> </div> </div>			
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" > </a> </p> </div> </div> </div>			
    		<div class="col-1-5">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-8">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://www.xylem.com"> <img src="../static/xylem-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-8">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://mowi.com"> <img src="../static/MOWI-logo.png" > </a> </p> </div> </div> </div>		
    		<div class="col-1-9">
    			<div class="content">
                                <div class="landscape">
        		            <p> <a href="https://avramar.eu"> <img src="../static/AVRAMAR-logo.png" > </a> </p> </div> </div> </div>			
    	</div>
	
        <div class="grid">
    		<div class="col-10-12">
			<div class="content">
     				<p id="funding">
           Este proyecto ha sido financiado por el programa de investigación
           e innovación Horizonte 2020 de la UE bajo acuerdo de
           financiación No. 862626.
                                </p>
                        </div>
                 </div>
         	 <div class="col-2-12">
 		        <div class="content">
 				<a href="https://eurosea.marine.ie/es"
 				   style="float:right"><img src="../static/home.png" > </a>
 			</div>
 		</div>
        </div>

        <div class="grid">
            <div class="col-5-8">
                <div class="content">
                    <p style="font-size:15px;">
                        ¡Nos encantaría conocer su opinión! Por favor,
                        escriba sus preguntas, comentarios o sugerencias 
                        y haga clic en 'Enviar'. Nuestro equipo recibirá
                        sus comentarios y responderá tan pronto como sea posible.
                    </p>
                </div>
            </div>
         </div>
                    <form method="POST" action="/es/helpdesk">
    		
         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <label for="email" style="font-family:Calibri">Introduzca su correo electrónico:</label>
                         <input type="text" style="width:800px;" name="email">
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea name="query" cols="125" rows="10">
Escriba aquí sus comentarios...
                     </textarea>
                 </div>
             </div>
         </div>

        <div class="grid">
            
            <div class="col-5-12">
                <div class="content"></div>
            </div>

            <div class="col-1-6">
                <div class="content">
                       	<input type="submit" value="Enviar" name="submit" style="margin-left: 25px" />
{% if csv == 'true' %}
                        <p> ¡Gracias! Su mensaje ha sido enviado. Le responderemos tan pronto como sea posible. </p>
{% endif %}
                </div>
            </div>

            <div class="col-5-12">
                <div class="content"></div>
            </div>

         </div>


                    </form>
</body>
</html>
