<!DOCTYPE html>
<html lang="en">
<head>
    <title>EuroSea Helpdesk</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/tiny-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 1px) and (max-device-width: 320px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
</head>

<body>

	<div class="languages-desktop topcorner">

         <div style="width: 25px; float:right; height:28px; margin:13px 150px 10px 10px">
               <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es/helpdesk"> <img src="../static/ES.png" > </a> </p>
         </div>

         <div class="center" style="width: 10px; float:right; height:28px; margin:15px 0px 0px 0px; border-width: 0px;">
               <p style="margin:5px 0px;"> <a style="text-decoration:none;" href="https://eurosea.marine.ie/es/helpdesk"> ES </a> </p> 		
         </div>

          <div style="width:100px; float:right; height:30px; margin:16px 30px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

 	</div>

        <div class="languages-tiny topcorner">

          <div style="width:12px; float:right; height:0px; margin:12px 20px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es/helpdesk"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:16px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es/helpdesk"> ES </a> </p> 
          </div>

          <div style="width:12px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-portrait topcorner">

          <div style="width:8px; float:right; height:0px; margin:13.5px 10px 0px 0px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es/helpdesk"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:20px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es/helpdesk"> ES </a> </p> 
          </div>

          <div style="width:8px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es/helpdesk"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:17px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es/helpdesk"> ES </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:22px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="languages-tiny-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:21px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es"> ES </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:22px 0px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>
        </div>

        <div class="languages-ipad topcorner">
          <div style="width:30px; float:right; height:0px; margin:30px 30px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es/helpdesk"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:27px 5px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es/helpdesk"> ES </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:33px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content unpadded">
                    <h1 class="MarineObservatory"> MARINE OBSERVATORY FOR AQUACULTURE </h1> <hr> </div> </div>
        </div>

        <div class="grid">
		<div class="col-1-1 mobile-col-1-1">
			<div class="content">
				<p class="intro">
				    If you experience any trouble or have any suggestions, please
				    contact our helpdesk service here: <b> eurosea.helpdesk@marine.ie </b>
				</p>
			</div>
		</div>
	</div>

    	<div class="grid">
    		<div class="col-1-1 mobile-col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="acknowledgements"> 
          <b> Acknowledgements. </b> 
	  This work benefited from services and resources provided by
	  the EuroSea project (receiving funding from the European 
	  Union's Horizon 2020 research and innovation programme 
	  <b> under grant agreement No. 862626</b>), with the 
	  dedicated support of WALTON-CLOUD. 
                            </div> 
                           <div class="footer">
       <p class="disclaimer"> 
           <i> DISCLAIMER. 
The user assumes the entire risk related to use of information contained in the Irish EuroSea Ocean Observation and Forecasting System. The data is provided "as is," and disclaims any and all warranties, whether expressed or implied, including (without limitation) any implied warranties of merchantability or fitness for a particular purpose. </i>
       </p>
                            </div> 
    			</div>
    		</div>
    	</div>

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        


</body>
</html>
