<!DOCTYPE html>
<html lang="en">
<head>
    <title>EuroSea Observatory</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/tiny-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 1px) and (max-device-width: 320px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
</head>

<body>
        <!-- MOBILE VERSION -->
        <div class="languages-portrait topcorner">

          <div style="width:12px; float:right; height:0px; margin:5px 20px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:9px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es"> ES </a> </p> 
          </div>
        </div>

        <div class="languages-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:17px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es"> ES </a> </p> 
          </div>

        </div>

        <div class="languages-tiny-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:21px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es"> ES </a> </p> 
          </div>

        </div>

        <div class="languages-ipad topcorner">
          <div style="width:30px; float:right; height:0px; margin:30px 170px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:27px 5px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/es"> ES </a> </p> 
          </div>
        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content unpadded">
                    <h1 class="MarineObservatory"> MARINE OBSERVATORY FOR AQUACULTURE </h1> <hr> </div> </div>
        </div>

                <div class="grid">
    		   <div class="col-1-1">
    			<div class="content unpadded">
                           <div class="footer">
                               <p class="intro"> 
			       This web portal seeks to provide oceanographic services for the aquaculture sector. The portal provides access to <i> in-situ </i> observations, forecasts and remote-sensing data products and warnings for <b> Deenish Island </b> (Ireland) and <b> El Campello </b> (Spain). Access <a href="https://eurosea.marine.ie/sensor-specification-sheets">here</a> the sensor specification sheets and a promotional video of the project.
                               </p>
                            </div> 
                         </div>
                      </div>
                </div>

                <div class="grid mobile">
                   <h3 style="text-align: center"> Deenish Island </h3> 
                </div>
                <div class="grid mobile">
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                           <img src="../static/Deenish.png" alt="Deenish Island" class="responsive" >
                        </div>
                   </div>
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                      <form method="POST" action="/">
                         <input class="button" type="submit" value="Warnings & Forecasts" 
                            name="Deenish-Operational" />
                         <input class="button" type="submit" value="Historical Data" 
                            name="Deenish-Historical" />
                      </form>
                   </div>
                        </div>
                 </div>
                        
                <div class="grid mobile">
                   <h3 style="text-align: center"> El Campello </h3> 
                </div>
                <div class="grid mobile">
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                           <img src="../static/El-Campello.png" alt="El Campello" class="responsive" >
                        </div>
                   </div>
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                          <form method="POST" action="/">
                         <input class="button" type="submit" value="Warnings & Forecasts" 
                            name="Campello-Operational" />
                         <input class="button" type="submit" value="Historical Data" 
                            name="Campello-Historical" />
                           </form>
                       </div>
                    </div>
                 </div>

                <!-- DESKTOP VERSION -->
    		<div class="languages-desktop topcorner">
                        <div class="content">
                            <div style="width: 25px; float:left; height:28px; margin:30px 0px 10px 50px">
               <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/es"> <img src="../static/ES.png" > </a> </p>
                            </div>
                            <div class="center" style="width: 10px; float:left; height:28px; margin:33px 150px 0px 0px">
               <p style="margin:5px 0px;"> <a style="text-decoration:none;" href="https://eurosea.marine.ie/es"> ES </a> </p> 		
                            </div>
                        </div>
 		</div>

    <div class="grid desktop">
 	<div class="col-1-4 mobile-col-1-4">
        	<div class="content">
                   <div class="Deenish"></div>
 		</div>
	</div>
 	<div class="col-1-4 mobile-col-1-4">
 		<div class="content">
                   <div class="links">
                      <form method="POST" action="/">
                         <h3 style="text-align: center"> 
                            Deenish Island 
                         </h3>
                         <input class="button" type="submit" value="Warnings & Forecasts" 
                            name="Deenish-Operational" />
                         <input class="button" type="submit" value="Historical Data" 
                            name="Deenish-Historical" />
                         <input class="button" type="submit" value="Remote Sensing" 
                            name="Deenish-Remote-Sensing" />
                      </form>
                   </div>
 		</div>
	</div>
 	<div class="col-1-4 mobile-col-1-4">
        	<div class="content">
                   <div class="Campello"></div>
 		</div>
 	</div>
 	<div class="col-1-4 mobile-col-1-4">
 		<div class="content">
                   <div class="links">
                      <form method="POST" action="/">
                         <h3 style="text-align: center"> 
                             El Campello
                         </h3>
                         <input class="button" type="submit" value="Warnings & Forecasts" 
                            name="Campello-Operational" />
                         <input class="button" type="submit" value="Historical Data" 
                            name="Campello-Historical" />
                         <input class="button" type="submit" value="Regional Wave Forecast"
                            name="Campello-Waves" id="Balearic-Wave-Forecast" /> 
                       </form>
                    </div>
 		</div>
	</div>
    </div>

        <div class="grid">
		<div class="col-1-1 mobile-col-1-1">
			<div class="content">
				<p class="intro">
				    If you experience any trouble or have any suggestions, please
				    contact our helpdesk service here:
				</p>
			</div>
		</div>
	</div>

        <div class="grid">
		<div class="col-1-1 mobile-col-1-1">
			<div class="content">
				<form method="POST" action="/">
					<input class="helpdesk" type="submit"
					       value="HELPDESK" name="HELPDESK" />
				</form>
			</div>
		</div>
	</div>

    <br>
        
        <div class="grid desktop">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

    	<div class="grid desktop">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="intro">
           Seasonal forecast products from the Copernicus Climate Change Service (C3S) here:
       </p>

                            </div> </div> </div> </div>

        <div class="grid desktop">
		<div class="col-1-3"><div class="content"></div></div>
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://climate.copernicus.eu/seasonal-forecasts">
					<input class="button" type="submit" value="Copernicus C3S" /></a>
			</div>
		</div>
		<div class="col-1-3"><div class="content"></div></div>
	</div>

    <br>
        
        <div class="grid desktop">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

    	<div class="grid desktop">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="intro">
          Mediterranean (MED) products developed by the Balearic Islands Coastal Observing and Forecasting System (SOCIB) here:
       </p>

                            </div> </div> </div> </div>

        <div class="grid desktop">
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://apps.socib.es/MSET">
					<input class="button" type="submit" value="MED Surface Exploration Tool" /></a>
			</div>
		</div>
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://apps.socib.es/subregmed-indicators">
					<input class="button" type="submit" value="Sub-Regional MED Indicators" /></a>
			</div>
		</div>
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://apps.socib.es/subregmed-marine-heatwaves">
					<input class="button" type="submit" value="Sub-Regional MED MHWs" /></a>
			</div>
		</div>
	</div>
    <br>

    <br>
        
        <div class="grid desktop">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

    	<div class="grid desktop">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="intro">
           Galway Bay real-time information here:
       </p>

                            </div> </div> </div> </div>

        <div class="grid desktop">
		<div class="col-1-3"><div class="content"></div></div>
		<div class="col-1-3">
			<div class="content">
			      <form method="POST" action="/">
				 <input class="button" type="submit" value="Galway Bay" 
				    name="Galway-Bay" />
			      </form>
			</div>
		</div>
		<div class="col-1-3"><div class="content"></div></div>
	</div>

        <div class="grid desktop">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

    	<div class="grid">
    		<div class="col-1-1 mobile-col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="acknowledgements"> 
          <b> Acknowledgements. </b> 
	  This work benefited from services and resources provided by
	  the EuroSea project (receiving funding from the European 
	  Union's Horizon 2020 research and innovation programme 
	  <b> under grant agreement No. 862626</b>), with the 
	  dedicated support of WALTON-CLOUD. 
                            </div> 
                           <div class="footer">
       <p class="disclaimer"> 
           <i> DISCLAIMER. 
The user assumes the entire risk related to use of information contained in the Irish EuroSea Ocean Observation and Forecasting System. The data is provided "as is," and disclaims any and all warranties, whether expressed or implied, including (without limitation) any implied warranties of merchantability or fitness for a particular purpose. </i>
       </p>
                            </div> 
    			</div>
    		</div>
    	</div>

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        


</body>
</html>
