<!DOCTYPE html>
<html lang="es">
<head>
    <title>Observatorio EuroSea</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-width: 700px) and (max-height: 575.98px) and (orientation: landscape)' href="../static/css/tiny-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 1px) and (max-device-width: 320px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
</head>

<body>
        <!-- MOBILE VERSION -->
        <div class="languages-portrait topcorner">

          <div style="width:12px; float:right; height:0px; margin:5px 20px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:9px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie"> EN </a> </p> 
          </div>
        </div>

        <div class="languages-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 10px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:17px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie"> EN </a> </p> 
          </div>

        </div>

        <div class="languages-tiny-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:21px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie"> EN </a> </p> 
          </div>

        </div>

        <div class="languages-ipad topcorner">
          <div style="width:30px; float:right; height:0px; margin:30px 100px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie"> <img src="../static/EN.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:27px 5px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie"> EN </a> </p> 
          </div>
        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content unpadded">
                    <h1 class="MarineObservatory"> OBSERVATORIO MARINO PARA LA ACUICULTURA </h1> <hr> </div> </div>
        </div>

                <div class="grid">
    		   <div class="col-1-1">
    			<div class="content unpadded">
                           <div class="footer">
                               <p class="intro"> 
			       El objetivo de este portal es proporcionar servicios oceanográficos para el sector de la acuicultura. El portal da acceso a datos <i>in-situ</i>, teledetección, alertas y predicciones para <b> Deenish Island </b> (Irlanda) y <b> El Campello </b> (España). Acceda en este <a href="https://eurosea.marine.ie/es/sensor-specification-sheets">enlace</a> a las especificaciones técnicas de los sensores, así como a un vídeo promocional del proyecto.
                               </p>
                            </div> 
                         </div>
                      </div>
                </div>

                <div class="grid mobile">
                   <h3 style="text-align: center"> Deenish Island </h3> 
                </div>
                <div class="grid mobile">
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                           <img src="../static/Deenish.png" alt="Deenish Island" class="responsive" >
                        </div>
                   </div>
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                      <form method="POST" action="/es">
                         <input class="button" type="submit" value="Alertas y Predicciones" 
                            name="Deenish-Operational" />
                         <input class="button" type="submit" value="Datos Históricos" 
                            name="Deenish-Historical" />
                      </form>
                   </div>
                        </div>
                 </div>
                        
                <div class="grid mobile">
                   <h3 style="text-align: center"> El Campello </h3> 
                </div>
                <div class="grid mobile">
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                           <img src="../static/El-Campello.png" alt="El Campello" class="responsive" >
                        </div>
                   </div>
                   <div class="col-1-2 mobile-col-1-2">
                        <div class="content unpadded">
                          <form method="POST" action="/es">
                         <input class="button" type="submit" value="Alertas y Predicciones" 
                            name="Campello-Operational" />
                         <input class="button" type="submit" value="Datos Históricos" 
                            name="Campello-Historical" />
                           </form>
                       </div>
                    </div>
                 </div>

                <!-- DESKTOP VERSION -->
    		<div class="languages-desktop topcorner">
                        <div class="content">
                            <div style="width: 25px; float:left; height:28px; margin:30px 0px 10px 50px">
               <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie"> <img src="../static/EN.png" > </a> </p>
                            </div>
                            <div class="center" style="width: 10px; float:left; height:28px; margin:33px 150px 0px 0px">
               <p style="margin:5px 0px;"> <a style="text-decoration:none;" href="https://eurosea.marine.ie"> EN </a> </p> 		
                            </div>
                        </div>
 		</div>

    <div class="grid desktop">
 	<div class="col-1-4 mobile-col-1-4">
        	<div class="content">
                   <div class="Deenish"></div>
 		</div>
	</div>
 	<div class="col-1-4 mobile-col-1-4">
 		<div class="content">
                   <div class="links">
                      <form method="POST" action="/es">
                         <h3 style="text-align: center"> 
                            Deenish Island 
                         </h3>
                         <input class="button" type="submit" value="Alertas y Predicciones" 
                            name="Deenish-Operational"/>                                           
                         <input class="button" type="submit" value="Datos Históricos" 
                            name="Deenish-Historical"/>                                           
                         <input class="button" type="submit" value="Teledetección" 
                            name="Deenish-Remote-Sensing"/>                                           
                      </form>
                   </div>
 		</div>
	</div>
 	<div class="col-1-4 mobile-col-1-4">
        	<div class="content">
                   <div class="Campello"></div>
 		</div>
 	</div>
 	<div class="col-1-4 mobile-col-1-4">
 		<div class="content">
                   <div class="links">
                      <form method="POST" action="/es">
                         <h3 style="text-align: center"> 
                             El Campello
                         </h3>
                         <input class="button" type="submit" value="Alertas y Predicciones" 
                            name="Campello-Operational" />
                         <input class="button" type="submit" value="Datos Históricos" 
                            name="Campello-Historical" />
                         <input class="button" type="submit" value="Predicción de Oleaje"
                            name="Campello-Waves" id="Balearic-Wave-Forecast" /> 
                       </form>
                    </div>
 		</div>
	</div>
    </div>

        <div class="grid">
		<div class="col-1-1 mobile-col-1-1">
			<div class="content">
				<p class="intro">
				    Si tiene alguna sugerencia o ve dificultades en el uso de la página,
				    por favor, consúltenos en nuestro servicio técnico aquí: 
				</p>
			</div>
		</div>
	</div>

        <div class="grid">
		<div class="col-1-1 mobile-col-1-1">
			<div class="content">
				<form method="POST" action="/es">
					<input class="helpdesk" type="submit"
					       value="SERVICIO TÉCNICO" name="HELPDESK" />
				</form>
			</div>
		</div>
	</div>

    <br>
        
        <div class="grid desktop">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

    	<div class="grid desktop">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="intro">
           Predicciones estacionales del Servicio de Cambio Climático de Copernicus (C3S) aquí:
       </p>

                            </div> </div> </div> </div>

        <div class="grid desktop">
		<div class="col-1-3"><div class="content"></div></div>
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://climate.copernicus.eu/seasonal-forecasts">
					<input class="button" type="submit" value="Copernicus C3S" /></a>
			</div>
		</div>
		<div class="col-1-3"><div class="content"></div></div>
	</div>

    <br>
        
        <div class="grid desktop">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

    	<div class="grid desktop">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="intro">
       Sistemas para la observación del Mediterráneo (MED), desarrollados por el Sistema de Observación y Predicción Costero de las Illes Balears (SOCIB) aquí:
       </p>

                            </div> </div> </div> </div>

        <div class="grid desktop">
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://apps.socib.es/MSET">
					<input class="button" type="submit" value="MED Surface Exploration Tool" /></a>
			</div>
		</div>
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://apps.socib.es/subregmed-indicators">
					<input class="button" type="submit" value="Sub-Regional MED Indicators" /></a>
			</div>
		</div>
		<div class="col-1-3">
			<div class="content">
				<a style="text-decoration:none;" href="https://apps.socib.es/subregmed-marine-heatwaves">
					<input class="button" type="submit" value="Sub-Regional MED MHWs" /></a>
			</div>
		</div>
	</div>

        <div class="grid desktop">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
                           <div class="footer">
       <p class="acknowledgements"> 
          <b> Agradecimientos. </b> 
           Este proyecto ha sido posible gracias al proyecto EuroSea (financiado por el programa de investigación
           e innovación Horizonte 2020 de la UE <b> bajo acuerdo de
           financiación No. 862626</b>) y al apoyo de WALTON-CLOUD.
                            </div> 
                           <div class="footer">
       <p class="disclaimer"> 
           <i> DESCARGO DE RESPONSABILIDAD.  
           El usuario asume cualquier riesgo derivado del uso de la información contenida en este portal.
           Los datos se proporcionan "tal cual", sin ninguna garantía expresa o implícita de ningún tipo, incluida, entre otras, la garantía de comerciabilidad o idoneidad para un propósito particular.</i>
                            </div> 
    			</div>
    		</div>
    	</div>

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        


</body>
</html>
