<!DOCTYPE html>
<html lang="en">
<head>
    <title>Questionnaires</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
    <link rel="stylesheet" type="text/css" media='(min-width: 1024px)' href="../static/css/desktop.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 768px) and (max-width: 1024px)' href="../static/css/ipad.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-width: 540px) and (max-width: 768px)' href="../static/css/duo.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(min-device-width: 400px) and (max-device-width: 480px) and (orientation: portrait)' href="../static/css/mobile-portrait.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-height: 575.98px) and (orientation: landscape)' href="../static/css/mobile-landscape.css?ref=v1" />
    <link rel="stylesheet" type="text/css" media='(max-device-width: 400px)' href="../static/css/tiny.css?ref=v1" />
    <link rel="icon" href="../static/favicon.png">

</head>

<body>

	<div class="languages-desktop topcorner">

         <div style="width: 25px; float:right; height:28px; margin:13px 150px 10px 10px">
               <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/cuestionarios"> <img src="../static/ES.png" > </a> </p>
         </div>

         <div class="center" style="width: 10px; float:right; height:28px; margin:15px 0px 0px 0px; border-width: 0px;">
               <p style="margin:5px 0px;"> <a style="text-decoration:none;" href="https://eurosea.marine.ie/cuestionarios"> ES </a> </p> 		
         </div>

          <div style="width:100px; float:right; height:30px; margin:16px 30px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

 	</div>


        <div class="languages-tiny topcorner">

          <div style="width:12px; float:right; height:0px; margin:12px 20px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/cuestionarios"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:16px 0px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/cuestionarios"> ES </a> </p> 
          </div>

          <div style="width:12px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-portrait topcorner">

          <div style="width:8px; float:right; height:0px; margin:13.5px 10px 0px 0px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/cuestionarios"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:20px 0px 0px 0px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/cuestionarios"> ES </a> </p> 
          </div>

          <div style="width:8px; float:right; height:0px; margin:18px 3px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" class="responsive" > </a>
          </div>

        </div>

        <div class="languages-landscape topcorner">

          <div style="width:30px; float:right; height:0px; margin:20px 30px 10px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/cuestionarios"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:17px 8px 10px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/cuestionarios"> ES </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:22px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="languages-ipad topcorner">
          <div style="width:30px; float:right; height:0px; margin:30px 30px 0px 5px;">
  	      <p style="margin:5px 0px;"> <a href="https://eurosea.marine.ie/cuestionarios"> <img src="../static/ES.png"> </a> </p>
          </div>

          <div style="width:12px; float:right; height:0px; margin:27px 5px 0px 5px;">
              <p class="languageLabel"> 
                  <a style="text-decoration:none;" href="https://eurosea.marine.ie/cuestionarios"> ES </a> </p> 
          </div>

          <div style="width:120px; float:right; height:0px; margin:33px 15px 0px 5px;">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right"><img src="../static/home.png" > </a>
          </div>

        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content unpadded">
                    <h1 class="MarineObservatory"> MARINE OBSERVATORY FOR AQUACULTURE </h1> <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-1">
                <div class="content">
                    <p class="intro">
                        Your feedback is very important! We would really appreciate it if you could complete our questionnaires here.
                        There is no need to answer all the questions if you'd rather not, your responses will still be useful.
                        Once finished, click 'Submit'. Thank you.
                    </p>
                </div>
            </div>
         </div>

                    <form method="POST" action="/questionnaires">

         <div class="grid">
             <div class="col-1-1 mobile-col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Rate your interest in this service </i> 
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1 mobile-col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Would you like to see this service extended to your area or site of interest?
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1 mobile-col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="yes_interest" name="interest" value=1>
                     Yes</label>
                        
                     <label class="answer-label"> <input type="radio" id="no_interest" name="interest" value=0>
                     No</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         If yes, please provide details of your area of interest, and the type of data (e.g. 
                             measurements, forecasts) you would be interested in. Thank you. 
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="interest-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA SERIE DE ALTURA DEL OLEAJE -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Wave height series </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#Wave-Height-Series" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-1" name="wave-height-series-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-2" name="wave-height-series-clarity" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-3" name="wave-height-series-clarity" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-4" name="wave-height-series-clarity" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-clarity-5" name="wave-height-series-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Do you find this information useful for understanding the wave situation and its impact
                         on working conditions in aquaculture facilities? Please rate on a scale from 1 (not very
                         useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-1" name="wave-height-series-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-2" name="wave-height-series-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-3" name="wave-height-series-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-4" name="wave-height-series-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-series-usefulness-5" name="wave-height-series-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Please add here any comments on the wave height series. For example, do you consider the warnings 
                         for wave heights above 2 m (orange warning) and 3 m (red warning) to be relevant to the work at
                         the facility? Are the colours used in the graphic appropriate? Are you missing any additional 
                         information on the wave conditions in the area?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="wave-height-series-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA PREDICCIÓN DE OLEAJE EN EL MAR BALEAR -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Wave forecast in the Balearic Sea </i> 
                     <a href="https://eurosea.marine.ie/Campello-rs#Wave-Height-Forecast-Balearic-Sea" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-1" name="wave-height-forecast-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-2" name="wave-height-forecast-clarity" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-3" name="wave-height-forecast-clarity" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-4" name="wave-height-forecast-clarity" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-clarity-5" name="wave-height-forecast-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Do you find this information useful for understanding the wave situation and its impact
                         on working conditions in aquaculture facilities? Please rate on a scale from 1 (not very
                         useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-1" name="wave-height-forecast-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-2" name="wave-height-forecast-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-3" name="wave-height-forecast-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-4" name="wave-height-forecast-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-height-forecast-usefulness-5" name="wave-height-forecast-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
Please add here any comments about the wave forecast in the Balearic Sea. For example, are the colours used in the graph appropriate, would you like the forecast to be extended beyond five days, or do you think it is sufficient? The area mainly covers the Balearic Sea, would it be interesting to have forecasts for other areas of the Mediterranean?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="wave-height-forecast-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS DE OLEAJE -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Direction and period of the waves</i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#Wave-Wind-Roses" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-1" name="wave-rose-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-2" name="wave-rose-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-3" name="wave-rose-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-4" name="wave-rose-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-clarity-5" name="wave-rose-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Do you find this information useful for understanding the wave situation and its impact
                         on working conditions in aquaculture facilities? Please rate on a scale from 1 (not very
                         useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-1" name="wave-rose-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-2" name="wave-rose-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-3" name="wave-rose-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-4" name="wave-rose-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wave-rose-usefulness-5" name="wave-rose-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Please add here any comments on the wave direction and period diagrams. For example,
                         are the colours and ranges used in the graph appropriate, would you like the forecast
                         to be extended beyond 24 hours, or do you think it is sufficient?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="wave-rose-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL PERFIL DE CORRIENTES -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Currents profile </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#ADCP-Profile" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-1" name="ADCP-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-2" name="ADCP-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-3" name="ADCP-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-4" name="ADCP-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-clarity-5" name="ADCP-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Do you find this information useful for understanding the status of currents and
                         their impact on aquaculture facilities? Please rate on a scale from 1 (not very
                         useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-1" name="ADCP-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-2" name="ADCP-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-3" name="ADCP-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-4" name="ADCP-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="ADCP-usefulness-5" name="ADCP-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Please add here any comments on the current profile diagram. For example,
                         are the scale and colours used in the diagram appropriate?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="ADCP-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS (CORRIENTES) -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Currents speed and direction </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#ADCP-Roses" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-1" name="ADCP-rose-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-2" name="ADCP-rose-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-3" name="ADCP-rose-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-4" name="ADCP-rose-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-clarity-5" name="ADCP-rose-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Do you consider this information useful for understanding the status of currents and 
                         their impact on aquaculture facilities? Please rate on a scale from 1 (not very useful) 
                         to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                             
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-1" name="ADCP-rose-usefulness" value=1>
                     1</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-2" name="ADCP-rose-usefulness" value=2>
                     2</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-3" name="ADCP-rose-usefulness" value=3>
                     3</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-4" name="ADCP-rose-usefulness" value=4>
                     4</label>

                        
                     <label class="answer-label"> <input type="radio" id="ADCP-rose-usefulness-5" name="ADCP-rose-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Please add here any comments on the current direction and speed diagrams. For example, 
                         are the colours and ranges used in the graph appropriate, would you like the data to
                         extend beyond 24 hours, or do you think this is sufficient?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="ADCP-rose-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA ROSA DE VIENTOS (VIENTO) -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Wind speed and direction </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#Winds" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wind-clarity-1" name="wind-clarity" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-2" name="wind-clarity" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-3" name="wind-clarity" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-4" name="wind-clarity" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="wind-clarity-5" name="wind-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Do you consider this information useful for understanding the wind situation and its
                         impact on working conditions in aquaculture facilities? Please rate on a scale from
                         1 (not very useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="wind-usefulness-1" name="wind-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="wind-usefulness-2" name="wind-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="wind-usefulness-3" name="wind-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="wind-usefulness-4" name="wind-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="wind-usefulness-5" name="wind-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Please add here any comments about the wind information on the portal. For example,
                         are the colours and ranges used in the graph appropriate, would you like the forecast
                         to be extended beyond three days, or do you think this is sufficient?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="wind-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA TEMPERATURA -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Temperature </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#Water-Temperature" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-1" name="temperature-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-2" name="temperature-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-3" name="temperature-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-4" name="temperature-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-clarity-5" name="temperature-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                                Do you consider this information useful for the activity in aquaculture 
                         facilities? Please rate on a scale from 1 (not very useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-1" name="temperature-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-2" name="temperature-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-3" name="temperature-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-4" name="temperature-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="temperature-usefulness-5" name="temperature-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Please add here any comments on the temperature information. For example, are the colours and
                         ranges used in the graph appropriate, would you like the forecast to be extended beyond three 
                         days, or do you think this is sufficient, and is it interesting to have a temperature forecast?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="temperature-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL OXÍGENO  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Oxygen </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#Oxygen-Saturation" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-1" name="oxygen-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-2" name="oxygen-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-3" name="oxygen-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-4" name="oxygen-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-clarity-5" name="oxygen-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                                Do you consider this information useful for the activity in aquaculture 
                         facilities? Please rate on a scale from 1 (not very useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-1" name="oxygen-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-2" name="oxygen-usefulness" value=2>
                     2</label>

                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-3" name="oxygen-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-4" name="oxygen-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="oxygen-usefulness-5" name="oxygen-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
Please add here any comments on the oxygen saturation information. For example, are the colours and ranges used in the graph appropriate?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="oxygen-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE LA TURBIDEZ  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Turbidity </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ#Water-Turbidity" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         How would you rate the clarity of the information shown on this graph? Is it easy to understand? 
                         Please rate on a scale from 1 (very confusing) to 5 (very clear).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-1" name="turbidity-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-2" name="turbidity-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-3" name="turbidity-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-4" name="turbidity-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-clarity-5" name="turbidity-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                                Do you consider this information useful for the activity in aquaculture 
                         facilities? Please rate on a scale from 1 (not very useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-1" name="turbidity-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-2" name="turbidity-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-3" name="turbidity-usefulness" value=3>
                     3</label>

                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-4" name="turbidity-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="turbidity-usefulness-5" name="turbidity-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
Please add here any comments on the water turbidity information. For example, are the colours and ranges used in the graph appropriate?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="turbidity-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>


         <!-- PREGUNTAS SOBRE EL PORTAL HISTÓRICO  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Historical Data Portal </i> 
                     <a href="https://eurosea.marine.ie/El-Campello-in-situ-historical" target="_blank"
                        rel="noopener noreferrer" > <img src="../static/go.png" > </a> <p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
How would you rate the difficulty in using the historical data portal? Please rate on a scale from 1 (very difficult) to 5 (very easy).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="historical-clarity-1" name="historical-clarity" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-2" name="historical-clarity" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-3" name="historical-clarity" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-4" name="historical-clarity" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-clarity-5" name="historical-clarity" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
 Do you find it useful to access historical data? Please rate on a scale from 1 (not very useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">
                             
                     <label class="answer-label"> <input type="radio" id="historical-usefulness-1" name="historical-usefulness" value=1>
                     1</label>

                     <label class="answer-label"> <input type="radio" id="historical-usefulness-2" name="historical-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-usefulness-3" name="historical-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="historical-usefulness-4" name="historical-usefulness" value=4>
                     4</label>

                     <label class="answer-label"> <input type="radio" id="historical-usefulness-5" name="historical-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
Please add here any comments about the historical data portal. For example, how could the user-friendliness of the portal be improved?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="historical-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>



         <!-- DESCARGA DE DATOS COMO CSV  -->
         <div class="grid">
             <div class="col-1-1">
                 <div class="content" style="height: 40px">
                     <p class="question-heading"> <i> Downloading data as CSV </i> </p> 
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content">
                     <p class="intro">  
                         Do you think the CSV data download option is a useful tool? Please rate on a
                         scale from 1 (not very useful) to 5 (very useful).
                     </p>
                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="col-1-1">
                 <div class="content answers">

                     <label class="answer-label"> <input type="radio" id="csv-usefulness-1" name="csv-usefulness" value=1>
                     1</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-2" name="csv-usefulness" value=2>
                     2</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-3" name="csv-usefulness" value=3>
                     3</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-4" name="csv-usefulness" value=4>
                     4</label>
                        
                     <label class="answer-label"> <input type="radio" id="csv-usefulness-5" name="csv-usefulness" value=5>
                     5</label>

                 </div>
             </div>
         </div>

         <div class="grid">
             <div class="1-1">
                 <div class="content">
                     <p class="intro" align="justify">  
                         Please add here any comments about the CSV data download tool. For example, how could the ease of use be improved, 
                         do you think other file formats would be more appropriate, is it necessary to provide additional information in 
                         the CSV files available from this portal, and how would you rate the clarity of the information provided?
                     </p>
                 </div>
              </div>

             <div class="1-1">
                 <div class="content">
                     <textarea class="intro" name="csv-comments"  rows="3">
Write your comments here...
                     </textarea> </div> </div> </div>

        <div class="grid">
            
            <div class="col-5-12">
                <div class="content"></div>
            </div>

            <div class="col-1-6">
                <div class="content">
                       	<input class="submit" type="submit" value="Submit" name="submit" style="margin-left: 25px" />
                </div>
            </div>

            <div class="col-5-12">
                <div class="content"></div>
            </div>
         </div>
                    </form>


{% if sent == 'true' %}
        <div class="grid">
            
            <div class="col-1-3">
                <div class="content"></div>
            </div>

            <div class="col-1-3">
                <div class="content">
                        <p>  &ensp; Thank you! </p>
                </div>
            </div>

            <div class="col-1-3">
                <div class="content"></div>
            </div>
         </div>
{% endif %}

        <div class="grid">
            <div class="col-1-1 mobile-col-1-1">
                <div class="content unpadded">
                    <hr> </div> </div>
        </div>

        <div class="grid">
            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://eurosea.eu"> <img src="../static/EuroSea-Logo.jpg" alt="EuroSea" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                        <p> <a href="https://www.marine.ie"> <img src="../static/MI-logo.png" alt="Marine Institute" class="responsive" >
                            </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="http://www.icman.csic.es"> <img src="../static/CSIC-logo.png" alt="ICMAN-CSIC" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://www.xylem.com"> <img src="../static/xylem-new.png" alt="Xylem" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://mowi.com"> <img src="../static/Mowi-new.png" alt="Mowi" class="responsive" >
                           </a> </p> </div> </div> </div>			

            <div class="col-1-6 mobile-col-1-6">
    		<div class="content unpadded">
                    <div class="landscape">
                       <p> <a href="https://avramar.eu"> <img src="../static/avramar-new.png" alt="AVRAMAR" class="responsive" >
                           </a> </p> </div> </div> </div>			

        </div>        

</body>
</html>
