<!doctype html>
<html lang="es">
<html>
	<head>
		<title>El Campello In-situ Alertas y Predicciones</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="../static/js/script.js"></script>
		
		<meta id="latest-temperature-value" content="{{latest_temperature}}" >
		<meta id="latest-oxygen-value" content="{{latest_oxygen}}" >
		<meta id="forecast-temperature-value" content="{{forecast_temperature}}" >
		<meta id="MHW-status" content="{{MHW_Warning}}" >
		<meta id="MHW-FC-status" content="{{MHW_FC}}" >
		<meta id="SubO2-status" content="{{SubO2}}" >
	</head>

	<body onload="init()">
	
    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
        		    <img src="../static/logos.png" >			
    			</div>
    		</div>
    	</div>
	
		<div class="grid">
 			<div class="col-10-12">
 				<div class="content">
     				<p id="funding">
           This project has received funding from the European Union's
           Horizon 2020 research and innovation programme under grant
           agreement No. 862626
                     </p>
 				</div>
 			</div>
 			<div class="col-2-12">
 				<div class="content">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right">Página principal</a>
 				</div>
 			</div>
    	        </div>
    		
    		
  		<div class="grid">
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
  				<input value="El Campello {{t1}}" type=text id="time" size='70' />
  				</div>
  			</div>
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
  				<input type=text id="time" size='70'
  				value="El Campello predicción a 5 días" />
  				</div>
  			</div>
  		</div>
    		
		<div class="grid">
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/thermometer.png" class="icon">
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					<input id="latest-temperature" 
					       class="value-box-1"
					       value="{{latest_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-1" 
					        class="warning-box"
					        value="Ola de Calor Marina" />
				</div>
			</div>
			
			<div class="col-1-12">
				<div class="content">
					 <img src="../static/thermometer-max.png" class="icon">
				</div>
			</div>
			<div class="col-2-12">
				<div class="content">
					<input id="forecast-temperature"
					           class="value-box-1"
					           value="{{forecast_temperature}} ºC" />
				</div>
			</div>
			<div class="col-3-12">
				<div class="content">
					 <input id="Marine-Heat-Wave-2" 
					        class="warning-box"
					        value="Ola de Calor Marina" />
				</div>
			</div>
		</div>
		    		
  		<div class="grid">
  			<div class="col-1-12">
  				<div class="content">
  					 <img src="../static/oxygen.png" class="icon">
  				</div>
  			</div>
  			<div class="col-2-12">
  				<div class="content">
  					<input id="latest-oxygen"
  					       class="value-box-1"
  					       value="{{latest_oxygen}}%" />
  				</div>
  			</div>
  			<div class="col-3-12">
  				<div class="content">
  					 <input id="Suboxic-1"
  					        class="warning-box"
  					        value="Subóxico" />
  				</div>
  			</div>
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
                                    <p style="font-size:16px">
                                        Temperatura más alta esperada en los próximos 5 días.
                                    </p>
  				</div>
  			</div>
  		</div>    	
  			
  		<div class="grid">
  			<div class="col-1-12">
  				<div class="content">
  					 <img src="../static/salt.png" class="icon">
  				</div>
  			</div>
  			<div class="col-1-12">
  				<div class="content">
  					<input class="value-box-2" value="{{latest_salinity}}" />
  				</div>
                        </div>    
  			<div class="col-1-12">
  				<div class="content">
  				</div>
                        </div>    
                        <div class="col-1-12">
  				<div class="content">
  					 <img src="../static/turbidity.png" class="icon">
  				</div>
  			</div>
  			<div class="col-2-12">
  				<div class="content">
  					<input class="value-box-2" style="width:90px" value="{{latest_pH}} FNU" />
  				</div>
                        </div>    	
          	</div>

  		<div class="grid">
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
                                    <p style="font-size:14px">
                               De arriba a abajo y de izquierda a derecha: últimas medidas
                               de temperatura (°C), saturación de oxígeno (%), salinidad y
                               turbidez (FNU) en El 
                               Campello a la hora indicada.
                                    </p>
  				</div>
  			</div>
  		</div>
    		
  		<script language="javascript" type="text/javascript">
                    <!-- Time series layout -->
                    var layout1 = {
                       texttemplate: '%{value:.1f}',
                       title: '',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tick0: "{{tick0}}",
                           dtick: 86400000,  
                           tickformat: '%d %b %y',     
                           tickangle: 90,
                           automargin: true,
                       },
                       yaxis: {
                           title: '',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       };
                    
                    var profileLayout = {
                       texttemplate: '%{value:.1f}',
                       title: 'Perfil de temperatura del mar según el modelo en El Campello',
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tick0: "{{tick0}}",
                           dtick: 86400000,  
                           tickformat: '%d %b %y',     
                           tickangle: 90,
                           automargin: true,
                           autorange: false,
                           range: ["{{t0}}", "{{tf}}"]
                       },
                       yaxis: {
                           title: 'ºC',
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickformat: '.1f',
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                       legend: {
                           font: {
                               size: 13,
                           },
                       },
                       };
                    
                                     var displText = {
                                         x: [2, -2, -25, 25, 4.5, 8.5, 12, 15.5],  
                                         y: [22.5, -23.5, 2.5, -2.5, 4.5, 8.5, 12, 15.5],
                                         text: ['N', 'S', 'W', 'E', '5', '10', '15', '20'],
                                         mode: 'text',
                                         textfont: {
                                             size: 14,
                                             color: '#000000',
                                         },
                                         hoverinfo: 'none',
                                     }; 
                                     var scatterText= {
                                         x: [3, -3, -55, 55, 10, 17, 24, 31, 38],  
                                         y: [52.5, -53.5, 2.5, -3.5, 10, 17, 24, 31, 38],
                                         text: ['N', 'S', 'W', 'E', '10', '20', '30', '40', '50'],
                                         mode: 'text',
                                         textfont: {
                                             size: 14,
                                             color: '#000000',
                                         },
                                         hoverinfo: 'none',
                                     }; 
                   let layout3 = {
                       texttemplate: '%{value:.1f}',
                       showlegend: false,
                       title: {
                           font: { 
                               size: 2, 
                           }
                       },
                       xaxis: {
                           showgrid: false,
                           showticklabels: false,
                           range: [-55, 55],
                           automargin: true,
                       },
                       yaxis: {
                           scaleanchor: 'x',
                           showgrid: false,
                           showticklabels: false,
                           range: [-55, 55],
                           automargin: true,
                       },
                       shapes: [
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -10, y0: -10,
                               x1:  10, y1:  10,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -20, y0: -20,
                               x1:  20, y1:  20,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -30, y0: -30,
                               x1:  30, y1:  30,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -40, y0: -40,
                               x1:  40, y1:  40,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -50, y0: -50,
                               x1:  50, y1:  50,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                       ],
                       };
                    
                   let layout4 = {
                       texttemplate: '%{value:.1f}',
                       showlegend: false,
                       title: {
                           font: { 
                               size: 2, 
                           }
                       },
                       xaxis: {
                           showgrid: false,
                           showticklabels: false,
                           range: [-25, 25],
                       },
                       yaxis: {
                           scaleanchor: 'x',
                           showgrid: false,
                           showticklabels: false,
                           range: [-25, 25],
                       },
                       shapes: [
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -5, y0: -5,
                               x1:  5, y1:  5,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -10, y0: -10,
                               x1:  10, y1:  10,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -15, y0: -15,
                               x1:  15, y1:  15,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                           {
                               type: 'circle',
                               xref: 'x', yref: 'y',
                               x0: -20, y0: -20,
                               x1:  20, y1:  20,
                               line: {
                                   color: 'rgba(0, 0, 0, 1)'
                               },
                           },
                       ],
                       };
                    
                </script>
                </script>
  		
  		<div class="grid">
      		    <div class="col-1-1">
      			<div class="content">
          		    <div class="Series" id="temp"></div>
                                <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time|safe }},
                                        y: {{ temp|safe }},
                                        name: 'mediciones',
                                        hoverinfo: 'x+y',
                                    }
                                    var trace2 = {
                                        x: {{ fc_sst_time|safe }},
                                        y: {{ fc_sst|safe }},
                                        name: 'predicción',
                                        hoverinfo: 'x+y',
                                    };
                                    var trace3 = {
                                        x: {{ time_c|safe }},
                                        y: {{ seas|safe }},
                                        name: 'climatología',
                                        line: {
                                            width: .5,
                                        },
                                        hoverinfo: 'x',
                                    };
                                    var trace4 = {
                                        x: {{ time_c|safe }},
                                        y: {{ pc90|safe }},
                                        name: 'PCT. 90',
                                        line: {
                                            width: .5,
                                        },
                                        hoverinfo: 'x',
                                    };
                                    layout1['title'] = 'Temperatura del mar en El Campello'
                                    layout1.xaxis['autorange'] = false
                                    layout1.xaxis['range'] = ["{{t0}}", "{{tf}}"]
                                    layout1.yaxis['title'] = 'ºC'
                                    layout1.yaxis.tickformat = '.1f'
                                    TESTER = document.getElementById('temp');
                                    Plotly.newPlot( TESTER, [trace1, trace2, trace3, trace4], layout1 );
                                </script>
      			</div>
                     </div>
      	        </div>

		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar como CSV" name="temp" />
    </form>
 				</div>
 			</div>
    	        </div>


      	        <div class="grid">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="temp3d"></div>
                                 <script language="javascript" type="text/javascript">
                                    var l1 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_0|safe }},
                                        name: '1 m',
                                        hoverinfo: 'x+y',
                                        line: {
                                            width: 1.5, 
                                        }
                                    }
                                    var l2 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_1|safe }},
                                        name: '3 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l3 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_2|safe }},
                                        name: '5 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l4 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_3|safe }},
                                        name: '8 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l5 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_4|safe }},
                                        name: '11 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l6 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_5|safe }},
                                        name: '13 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l7 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_6|safe }},
                                        name: '16 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l8 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_7|safe }},
                                        name: '19 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l9 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_8|safe }},
                                        name: '23 m',
                                        hoverinfo: 'x+y',
                                        line: {
                                            width: 1.5, 
                                        }
                                    }
                                    var l10 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_9|safe }},
                                        name: '26 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l11 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_10|safe }},
                                        name: '30 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l12 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_11|safe }},
                                        name: '34 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l13 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_12|safe }},
                                        name: '38 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l14 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_13|safe }},
                                        name: '42 m',
                                        hoverinfo: 'x',
                                        line: {
                                            width: 0, 
                                        }
                                    }
                                    var l15 = {
                                        x: {{ fc_temp3d_time|safe }},
                                        y: {{ fc_temp3d_14|safe }},
                                        name: '47 m',
                                        hoverinfo: 'x+y',
                                        line: {
                                            width: 1.5, 
                                        }
                                    }
                                     TESTER = document.getElementById('temp3d');
                                     profile = [l1, l2, l3, l4, l5, l6, l7, l8, l9, l10, l11, l12, l13, l14, l15];
                                     Plotly.newPlot( TESTER, profile, profileLayout );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
    		
                                 <script language="javascript" type="text/javascript">
                                     function drawLayers(id) {
                                         let divID = document.getElementById('temp3d');
                                         let checkBox = document.getElementById(id);

                                         if ( id == '01m' ) { l = l1 }
                                         else if ( id == '03m' ) { l = l2 }
                                         else if ( id == '05m' ) { l = l3 }
                                         else if ( id == '08m' ) { l = l4 }
                                         else if ( id == '11m' ) { l = l5 }
                                         else if ( id == '13m' ) { l = l6 }
                                         else if ( id == '16m' ) { l = l7 }
                                         else if ( id == '19m' ) { l = l8 }
                                         else if ( id == '23m' ) { l = l9 }
                                         else if ( id == '26m' ) { l = l10 }
                                         else if ( id == '30m' ) { l = l11 }
                                         else if ( id == '34m' ) { l = l12 }
                                         else if ( id == '38m' ) { l = l13 }
                                         else if ( id == '42m' ) { l = l14 }
                                         else if ( id == '47m' ) { l = l15 }

                                         if ( checkBox.checked == false ) {
                                             l.hoverinfo = 'x';
                                             l.line.width = 0; 
                                         } else {
                                             l.hoverinfo = 'x+y';
                                             l.line.width = 1.5;
                                         }
                                         data_update = [l1, l2, l3, l4, l5, l6, l7, l8, l9, l10, l11, l12, l13, l14, l15];
                                         Plotly.react( divID, data_update, profileLayout)
                                     }


                                 </script>

		<div class="grid">
                        <div class="col-11-12">
                            <div class="content">
  <label><input type="checkbox" id="01m" name="01m" value="01m" onclick="drawLayers('01m')"
    style="margin-left: 50px" checked> 1 m</label>
  <label><input type="checkbox" id="03m" name="03m" value="03m" onclick="drawLayers('03m')"
    style="margin-left: 10px"> 3 m</label>
  <label><input type="checkbox" id="05m" name="05m" value="05m" onclick="drawLayers('05m')"
    style="margin-left: 10px"> 5 m</label>
  <label><input type="checkbox" id="08m" name="08m" value="08m" onclick="drawLayers('08m')"
    style="margin-left: 10px"> 8 m</label>
  <label><input type="checkbox" id="11m" name="11m" value="11m" onclick="drawLayers('11m')"
    style="margin-left: 10px"> 11 m</label>
  <label><input type="checkbox" id="13m" name="13m" value="13m" onclick="drawLayers('13m')"
    style="margin-left: 10px"> 13 m</label>
  <label><input type="checkbox" id="16m" name="16m" value="16m" onclick="drawLayers('16m')"
    style="margin-left: 10px"> 16 m</label>
  <label><input type="checkbox" id="19m" name="19m" value="19m" onclick="drawLayers('19m')"
    style="margin-left: 10px"> 19 m</label>
  <label><input type="checkbox" id="23m" name="23m" value="23m" onclick="drawLayers('23m')"
    style="margin-left: 10px" checked> 23 m</label>
  <label><input type="checkbox" id="26m" name="26m" value="26m" onclick="drawLayers('26m')"
    style="margin-left: 10px"> 26 m</label>
  <label><input type="checkbox" id="30m" name="30m" value="30m" onclick="drawLayers('30m')"
    style="margin-left: 10px"> 30 m</label>
  <label><input type="checkbox" id="34m" name="34m" value="34m" onclick="drawLayers('34m')"
    style="margin-left: 10px"> 34 m</label>
  <label><input type="checkbox" id="38m" name="38m" value="38m" onclick="drawLayers('38m')"
    style="margin-left: 10px"> 38 m</label>
  <label><input type="checkbox" id="42m" name="42m" value="42m" onclick="drawLayers('42m')"
    style="margin-left: 10px"> 42 m</label>
  <label><input type="checkbox" id="47m" name="47m" value="47m" onclick="drawLayers('47m')"
    style="margin-left: 10px" checked> 47 m</label>
                            </div>
                        </div>
 			<div class="col-1-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar" name="profile" />
    </form>
 				</div>
 			</div>
    	        </div>

      	        <div class="grid">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="salt"></div>
                                 <script language="javascript" type="text/javascript">
                                    var trace1 = {
                                        x: {{ time|safe }},
                                        y: {{ salt|safe }},
                                        name: 'observed',
                                        hoverinfo: 'x+y',
                                    }
                                    var trace2 = {
                                        x: {{ fc_sss_time|safe }},
                                        y: {{ fc_sss|safe }},
                                        name: 'forecast',
                                        hoverinfo: 'x+y',
                                    };
                                     layout1['title'] = 'Salinidad en El Campello'
                                     layout1.xaxis['autorange'] = true
                                     layout1.yaxis['title'] = ''
                                     layout1.yaxis.tickformat = '.1f'
                                     TESTER = document.getElementById('salt');
                                     Plotly.newPlot( TESTER, [trace1,], layout1 );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar como CSV" name="salt" />
    </form>
 				</div>
 			</div>
    	        </div>
    		
      	        <div class="grid">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="O2"></div>
                                 <script language="javascript" type="text/javascript">
                                     layout1['title'] = 'Saturación de Oxígeno en el mar en El Campello'
                                     layout1.yaxis['title'] = '%'
                                     layout1.yaxis.tickformat = '.1f'
                                     TESTER = document.getElementById('O2');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ O2|safe }} }], 
                                     layout1 );
                                 </script>
      			 </div>
      		     </div>
      	         </div>
      	    		
		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar como CSV" name="O2" />
    </form>
 				</div>
 			</div>
    	        </div>
    		
      	        <div class="grid">
                     <div class="col-1-1">
                         <div class="content">
          		     <div class="Series" id="pH"></div>
                                 <script language="javascript" type="text/javascript">
                                     layout1['title'] = 'Turbidez en El Campello'
                                     layout1.xaxis['autorange'] = true
                                     layout1.yaxis['title'] = 'FNU'
                                     layout1.yaxis.tickformat = '.1f'
                                     layout1.yaxis['autorange'] = false
                                     layout1.yaxis['range'] = [0, {{maxTUR}}]
                                     TESTER = document.getElementById('pH');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ time|safe }},
                                     y: {{ pH|safe }} }], 
                                     layout1 );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar como CSV" name="tur" />
    </form>
 				</div>
 			</div>
    	        </div>
    		
                <div class="grid">
                    <div class="col-1-2">
                        <div class="content">
          		     <div class="Series" id="surface-currents-scatter"></div>
                                 <script language="javascript" type="text/javascript">
                                     var vectors = {
                                         x: {{ u0|safe}},
                                         y: {{ v0|safe}},
                                         mode: 'markers',
                                         marker: {
                                             size: 5,
                                             color: {{ timestamps|safe }},
                                                             colorscale: 'YlOrRd',
                                                             colorbar: {
                                                                 ticks: 'outside',
                                                                 thickness: 10,
                                                                 tickmode: 'array',
                                                                 tickvals: {{timestampsub|safe}},
                                                                 ticktext: {{timetext|safe}},
                                                                 tickfont: {
                                                                     size: 14,
                                                                 },
                                                             },
                                         },
                                         hoverinfo: "none",
                                     };
                                     layout3['title'] = 'Corrientes en superficie (cm/s) últimas 24 h'
                                     layout3.yaxis['title'] = ''
                                     TESTER = document.getElementById('surface-currents-scatter');
                                     Plotly.newPlot( TESTER, [vectors, scatterText], layout3 );
                                 </script>
      			 </div>
      		     </div>
                    <div class="col-1-2">
                        <div class="content">
          		     <div class="Series" id="surface-currents-progressive"></div>
                                 <script language="javascript" type="text/javascript">
                                     layout4['title'] = 'Movimiento de agua en superficie (km) últimas 24 h'
                                     layout4.yaxis['title'] = ''
                                     TESTER = document.getElementById('surface-currents-progressive');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ Dx0|safe }},
                                     y: {{ Dy0|safe }}, hoverinfo: 'none' }, displText], 
                                     layout4 );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar como CSV" name="uv-surf" />
    </form>
 				</div>
 			</div>
    	        </div>

                <div class="grid">
                    <div class="col-1-2">
                        <div class="content">
          		     <div class="Series" id="mid-currents-scatter"></div>
                                 <script language="javascript" type="text/javascript">
                                     var vectors = {
                                         x: {{ umid|safe}},
                                         y: {{ vmid|safe}},
                                         mode: 'markers',
                                         marker: {
                                             size: 5,
                                             color: {{ timestamps|safe }},
                                                             colorscale: 'YlOrRd',
                                                             colorbar: {
                                                                 ticks: 'outside',
                                                                 thickness: 10,
                                                                 tickmode: 'array',
                                                                 tickvals: {{timestampsub|safe}},
                                                                 ticktext: {{timetext|safe}},
                                                                 tickfont: {
                                                                     size: 14,
                                                                 },
                                                             },
                                         },
                                         hoverinfo: "none",
                                     };
                                     layout3['title'] = 'Corrientes a media profundidad (cm/s) últimas 24 h'
                                     layout3.yaxis['title'] = ''
                                     TESTER = document.getElementById('mid-currents-scatter');
                                     Plotly.newPlot( TESTER, [vectors, scatterText], layout3 );
                                 </script>
      			 </div>
      		     </div>
                    <div class="col-1-2">
                        <div class="content">
          		     <div class="Series" id="mid-currents-progressive"></div>
                                 <script language="javascript" type="text/javascript">
                                     layout4['title'] = 'Movimiento de agua a media profundidad (km) últimas 24 h'
                                     layout4.yaxis['title'] = ''
                                     TESTER = document.getElementById('mid-currents-progressive');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ Dxmid|safe }},
                                     y: {{ Dymid|safe }}, hoverinfo: 'none' }, displText], 
                                     layout4 );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar como CSV" name="uv-mid" />
    </form>
 				</div>
 			</div>
    	        </div>

                <div class="grid">
                    <div class="col-1-2">
                        <div class="content">
          		     <div class="Series" id="seabed-currents-scatter"></div>
                                 <script language="javascript" type="text/javascript">
                                     var vectors = {
                                         x: {{ ubot|safe}},
                                         y: {{ vbot|safe}},
                                         mode: 'markers',
                                         marker: {
                                             size: 5,
                                             color: {{ timestamps|safe }},
                                                             colorscale: 'YlOrRd',
                                                             colorbar: {
                                                                 ticks: 'outside',
                                                                 thickness: 10,
                                                                 tickmode: 'array',
                                                                 tickvals: {{timestampsub|safe}},
                                                                 ticktext: {{timetext|safe}},
                                                                 tickfont: {
                                                                     size: 14,
                                                                 },
                                                             },
                                         },
                                         hoverinfo: "none",
                                     };
                                     layout3['title'] = 'Corrientes de fondo (cm/s) últimas 24 h'
                                     layout3.yaxis['title'] = ''
                                     TESTER = document.getElementById('seabed-currents-scatter');
                                     Plotly.newPlot( TESTER, [vectors, scatterText], layout3 );
                                 </script>
      			 </div>
      		     </div>
                    <div class="col-1-2">
                        <div class="content">
          		     <div class="Series" id="seabed-currents-progressive"></div>
                                 <script language="javascript" type="text/javascript">
                                     layout4['title'] = 'Movimiento de agua en el fondo (km) últimas 24 h'
                                     layout4.yaxis['title'] = ''
                                     TESTER = document.getElementById('seabed-currents-progressive');
                                     Plotly.newPlot( TESTER, [{
                                     x: {{ Dxbot|safe }},
                                     y: {{ Dybot|safe }}, hoverinfo: 'none' }, displText], 
                                     layout4 );
                                 </script>
      			 </div>
      		     </div>
      	        </div>

		<div class="grid">
                        <div class="col-10-12">
                            <div class="content"></div>
                        </div>
 			<div class="col-2-12">
 				<div class="content">
    <form method="POST" action="/El-Campello-in-situ">
            <input type="submit" value="Descargar como CSV" name="uv-seab" />
    </form>
 				</div>
 			</div>
    	        </div>

    </body>

</html>
