<!doctype html>
<html lang="en">
<html>
	<head>
		<title>Deenish Island Remote Sensing</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" >
		<link rel="stylesheet" type="text/css" href="../static/css/simplegrid.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/main.css" />
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<script src="../static/js/script.js"></script>
	</head>

	<body>
	
    	<div class="grid">
    		<div class="col-1-1">
    			<div class="content">
        		    <img src="../static/logos.png" >			
    			</div>
    		</div>
    	</div>
	
		<div class="grid">
 			<div class="col-10-12">
 				<div class="content">
     				<p id="funding">
           This project has received funding from the European Union's
           Horizon 2020 research and innovation programme under grant
           agreement No. 862626
                     </p>
 				</div>
 			</div>
 			<div class="col-2-12">
 				<div class="content">
 				<a href="https://eurosea.marine.ie"
 				   style="float:right">HOME</a>
 				</div>
 			</div>
          	</div>

         <div class="grid">
 	     <div class="col-1-1">
 		<div class="content">
                           <div class="footer">
       <p align="justify"> 
           The + cross in the maps below indicates the location of the Deenish Island farm.
       </p>
                            </div> 
    	        </div>
    	     </div>
    	 </div>

  		<script language="javascript" type="text/javascript">
                    <!-- Contour maps layout -->
                   let layout = {
                       autosize: false,
                       width: 500,
                       height: 623, 
                       showlegend: false,
                       title: {
                           text: '',
                           font: {
                               size: 18,
                           },
                       },
                       xaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickvals: [-11, -10, -9, -8],
                           ticktext: ['11ºW', '10ºW', '09ºW', '08ºW'],
                           automargin: true,
                           range: [-11.6, -8],
                       },
                       yaxis: {
                           mirror: true,
                           showline: true,
                           ticks: 'outside',
                           tickvals: [50, 51, 52],
                           ticktext: ['50ºN', '51ºN', '52ºN'],
                           range: [50, 52.8],
                       },
                       font: {
                           family: 'Sans-Serif',
                           size: 18,            
                       },
                   };
                                            var coast = {
                                               name: 'coast',
                                               x: {{lon_coast}},
                                               y: {{lat_coast}},
                                               type: 'scatter',
                                               hovermode: false,
                                               hoverinfo: 'none',
                                               line: {
                                                   color: 'rgb(0, 0, 0)',
                                                   width: 1,
                                               },
                                            };
                                            var site = {
                                               name: 'buoy',
                                               x: [{{lon}}],
                                               y: [{{lat}}],
                                               mode: 'markers',
                                               hoverinfo: 'none',
                                               marker: {
                                                  size: 20,
                                                  symbol: 'cross-thin',
                                                  line: { 
                                                      color: 'rgb(0, 0, 0)',
                                                      width: 1,
                                                  },
                                               },
                                            };
                </script>

         	<div class="grid">
  		       <div class="col-1-2 mobile-col-1-2">
  				<div class="content">
          		            <div id="SST"></div>
                                        <script language="javascript" type="text/javascript">
                                            var data =  {
                                                             name: 'SST',
                                                             z: {{SST}},
                                                             x: {{lon_sst}},
                                                             y: {{lat_sst}},
                                                             type: 'contour',
                                                             hoverinfo: 'z',
                                                             contours: {
                                                                 start: {{sst_colorange_min}},
                                                                 end: {{sst_colorange_max}},
                                                                 size: 0.5,
                                                             },
                                                             colorscale: 'YlOrRd',
                                                             reversescale: true,
                                                             colorbar: {
                                                                 title: 'ºC',
                                                                 tickformat: '.1f',
                                                             },
                                            };  
                                            layout.title.text = 'Sea Surface Temperature on {{time_sst}}'
                                            TESTER = document.getElementById('SST');
                                            Plotly.newPlot( TESTER, [data, coast, site], layout );

                                        </script>
  				</div>
  			</div>
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
          		            <div id="ANOM"></div>
                                        <script language="javascript" type="text/javascript">
                                            var data =  {
                                                             z: {{ANOM}},
                                                             x: {{lon_sst}},
                                                             y: {{lat_sst}},
                                                             type: 'contour',
                                                             hoverinfo: 'z',
                                                             contours: {
                                                                 start: -3,
                                                                 end: 3,
                                                                 size: 0.5,
                                                             },
                                                             colorbar: {
                                                                 title: 'ºC',
                                                             },
                                            };  
                                            layout.title.text = 'Sea Surface Temperature Anomaly on {{time_sst}}'
                                            TESTER = document.getElementById('ANOM');
                                            Plotly.newPlot( TESTER, [data, coast, site], layout );

                                        </script>
  				</div>
  			</div>
  		</div>
    		
         	<div class="grid">
                       <div class="col-1-4 mobile-col-1-4"></div>
  		       <div class="col-1-2 mobile-col-1-2">
  				<div class="content">
          		            <div id="MHW"></div>
                                        <script language="javascript" type="text/javascript">
                                            var data =  {
                                                             z: {{MHW}},
                                                             x: {{lon_sst}},
                                                             y: {{lat_sst}},
                                                             type: 'heatmap',
                                                             zauto: false,
                                                             zmin: 0,
                                                             zmax: 3,
                                                             hoverinfo: 'z',
                                                             colorscale: 'YlOrRd',
                                                             reversescale: true,
                                                             colorbar: {
                                                                 title: 'ºC',
                                                                 tickformat: '.1f',
                                                             },
                                            };  
                                            layout.title.text = 'Marine Heat Wave Intensity on {{time_sst}}'
                                            TESTER = document.getElementById('MHW');
                                            Plotly.newPlot( TESTER, [data, coast, site], layout );

                                        </script>
  				</div>
  			</div>
                       <div class="col-1-4 mobile-col-1-4"></div>
  		</div>
    		
         	<div class="grid">
  		       <div class="col-1-2 mobile-col-1-2">
  				<div class="content">
          		            <div id="CHL"></div>
                                        <script language="javascript" type="text/javascript">
                                            var data =  {
                                                             z: {{CHL}},
                                                             x: {{lon_o}},
                                                             y: {{lat_o}},
                                                             type: 'contour',
                                                             hoverinfo: 'z',
                                                             contours: {
                                                                 start: 0,
                                                                 end: 10,
                                                                 size: 1,
                                                             },
                                                             colorscale: 'Greens',
                                                             reversescale: true,
                                                             colorbar: {
                                                                 title: 'mg m-3',
                                                                 tickformat: '.1f',
                                                             },
                                            };  
                                            layout.title.text = 'Chlorophyll Concentration on {{time_o}}'
                                            TESTER = document.getElementById('CHL');
                                            Plotly.newPlot( TESTER, [data, coast, site], layout );
                                        </script>
  				</div>
  			</div>
  			<div class="col-1-2 mobile-col-1-2">
  				<div class="content">
          		            <div id="CHL_ANOM"></div>
                                        <script language="javascript" type="text/javascript">
                                            var data =  {
                                                             z: {{CHL_ANOM}},
                                                             x: {{lon_o}},
                                                             y: {{lat_o}},
                                                             type: 'contour',
                                                             hoverinfo: 'z',
                                                             contours: {
                                                                 start: -3,
                                                                 end: 3,
                                                                 size: 0.5,
                                                             },
                                                             colorbar: {
                                                                 title: 'mg m-3',
                                                             },
                                            };  
                                            layout.title.text = 'Chlorophyll Concentration Anomaly on {{time_o}}'
                                            TESTER = document.getElementById('CHL_ANOM');
                                            Plotly.newPlot( TESTER, [data, coast, site], layout );
                                        </script>
  				</div>
  			</div>
  		</div>

         <div class="grid">
 	     <div class="col-1-1">
 		<div class="content">
                           <div class="footer">
       <p align="justify"> 
           <b>PARTICLE-TRACKING.</b> The six figures below show the advection of coastal waters around the   
           southwest coast of Ireland. These figures are updated daily. Every day, virtual drifters are 
           released along the four transects in red below and tracked for 72 hours, providing an overview
           of the surface circulation around the coast.   
       </p>
                            </div> 
    	        </div>
    	     </div>
    	 </div>

    	<div class="grid">
	        <div class="col-1-2">
    			<div class="content">
        		        <img src="../static/TRANSECTS.png">			
                                <p style="text-align: center">Location of the four transects around the SW coast of Ireland </p>
    			</div>
    		</div>
    		<div class="col-1-2">
    			<div class="content">
          		    <div id="animation"></div>
                                <script language="javascript" type="text/javascript">

                                    var trace_12_A = {name: '12_A', x: {{LON_12_1}}, y: {{LAT_12_1}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 0, 255)', size: 1}, hoverinfo: 'none'};

                                    var trace_12_B = {name: '12_B', x: {{LON_12_2}}, y: {{LAT_12_2}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 255, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_12_C = {name: '12_C', x: {{LON_12_3}}, y: {{LAT_12_3}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(255, 0, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_12_D = {name: '12_D', x: {{LON_12_4}}, y: {{LAT_12_4}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 100, 100)', size: 1}, hoverinfo: 'none'};


                                    var trace_24_A = {name: '24_A', x: {{LON_24_1}}, y: {{LAT_24_1}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 0, 255)', size: 1}, hoverinfo: 'none'};

                                    var trace_24_B = {name: '24_B', x: {{LON_24_2}}, y: {{LAT_24_2}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 255, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_24_C = {name: '24_C', x: {{LON_24_3}}, y: {{LAT_24_3}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(255, 0, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_24_D = {name: '24_D', x: {{LON_24_4}}, y: {{LAT_24_4}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 100, 100)', size: 1}, hoverinfo: 'none'};


                                    var trace_36_A = {name: '36_A', x: {{LON_36_1}}, y: {{LAT_36_1}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 0, 255)', size: 1}, hoverinfo: 'none'};

                                    var trace_36_B = {name: '36_B', x: {{LON_36_2}}, y: {{LAT_36_2}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 255, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_36_C = {name: '36_C', x: {{LON_36_3}}, y: {{LAT_36_3}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(255, 0, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_36_D = {name: '36_D', x: {{LON_36_4}}, y: {{LAT_36_4}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 100, 100)', size: 1}, hoverinfo: 'none'};


                                    var trace_48_A = {name: '48_A', x: {{LON_48_1}}, y: {{LAT_48_1}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 0, 255)', size: 1}, hoverinfo: 'none'};

                                    var trace_48_B = {name: '48_B', x: {{LON_48_2}}, y: {{LAT_48_2}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 255, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_48_C = {name: '48_C', x: {{LON_48_3}}, y: {{LAT_48_3}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(255, 0, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_48_D = {name: '48_D', x: {{LON_48_4}}, y: {{LAT_48_4}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 100, 100)', size: 1}, hoverinfo: 'none'};


                                    var trace_60_A = {name: '60_A', x: {{LON_60_1}}, y: {{LAT_60_1}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 0, 255)', size: 1}, hoverinfo: 'none'};

                                    var trace_60_B = {name: '60_B', x: {{LON_60_2}}, y: {{LAT_60_2}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 255, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_60_C = {name: '60_C', x: {{LON_60_3}}, y: {{LAT_60_3}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(255, 0, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_60_D = {name: '60_D', x: {{LON_60_4}}, y: {{LAT_60_4}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 100, 100)', size: 1}, hoverinfo: 'none'};


                                    var trace_72_A = {name: '72_A', x: {{LON_72_1}}, y: {{LAT_72_1}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 0, 255)', size: 1}, hoverinfo: 'none'};

                                    var trace_72_B = {name: '72_B', x: {{LON_72_2}}, y: {{LAT_72_2}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 255, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_72_C = {name: '72_C', x: {{LON_72_3}}, y: {{LAT_72_3}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(255, 0, 0)', size: 1}, hoverinfo: 'none'};

                                    var trace_72_D = {name: '72_D', x: {{LON_72_4}}, y: {{LAT_72_4}}, mode: 'markers',
                                        type: 'scatter', marker: {color: 'rgb(0, 100, 100)', size: 1}, hoverinfo: 'none'};


                                    var titles = [
                                        "POSITION AFTER 12 HOURS: {{TIME_12}}",
                                        "POSITION AFTER 24 HOURS: {{TIME_24}}",
                                        "POSITION AFTER 36 HOURS: {{TIME_36}}",
                                        "POSITION AFTER 48 HOURS: {{TIME_48}}",
                                        "POSITION AFTER 60 HOURS: {{TIME_60}}",
                                        "POSITION AFTER 72 HOURS: {{TIME_72}}",
                                    ];

                                    var layout2 = {
                                        autosize: false,
                                        width: 500,
                                        height: 490, 
                                        margin: {l: 10, r: 10, b: 10, t: 30, pad: 0},
                                        showlegend: false,
                                        title: {
                                            text: '',
                                            font: {
                                                size: 18,
                                            },
                                        },
                                        xaxis: {
                                            mirror: true,
                                            showline: true,
                                            ticks: 'outside',
                                            tickvals: [],
                                            automargin: true,
                                            range: [-10.8, -8.8],
                                        },
                                        yaxis: {
                                            mirror: true,
                                            showline: true,
                                            ticks: 'outside',
                                            tickvals: [],
                                            range: [51.2, 52.42],
                                        },
                                        font: {
                                            family: 'Sans-Serif',
                                            size: 18,            
                                        },
                                    };

                                    var frameIndex = 0;

                                    var data12 = [trace_12_A, trace_12_B, trace_12_C, trace_12_D, coast, site];
                                    var data24 = [trace_24_A, trace_24_B, trace_24_C, trace_24_D, coast, site];
                                    var data36 = [trace_36_A, trace_36_B, trace_36_C, trace_36_D, coast, site];
                                    var data48 = [trace_48_A, trace_48_B, trace_48_C, trace_48_D, coast, site];
                                    var data60 = [trace_60_A, trace_60_B, trace_60_C, trace_60_D, coast, site];
                                    var data72 = [trace_72_A, trace_72_B, trace_72_C, trace_72_D, coast, site];

                                    var frames = [data12, data24, data36, data48, data60, data72];

                                    layout2.title.text = titles[frameIndex]
                                    TESTER = document.getElementById('animation');
                                    Plotly.newPlot( TESTER, frames[frameIndex], layout2);

                                    function moveBackward() {
                                            frameIndex -= 1
                                            frameIndex = Math.max(frameIndex, 0);
                                            layout2.title.text = titles[frameIndex];
                                            var data_update = frames[frameIndex];

                                            TESTER = document.getElementById('animation');
                                            Plotly.react( TESTER, data_update, layout2)
                                    }

                                    function moveForward() {
                                            frameIndex += 1
                                            frameIndex = Math.min(frameIndex, frames.length - 1);
                                            layout2.title.text = titles[frameIndex];
                                            var data_update = frames[frameIndex];

                                            TESTER = document.getElementById('animation');
                                            Plotly.react( TESTER, data_update, layout2)

                                    }
                            </script>
                            <button class="buttonLeft" onclick="javascript:moveBackward();"></button>
                            <button class="buttonRight" onclick="javascript:moveForward();"></button>
                        </div>
	        </div>  
    	</div>
	
    </body>

</html>
